Repository astropy/photutils, pull requests merged in 2018-12, with the labels that each got.

#775 Use define minimum python and numpy versions in install docs
  docs/conf.py
  docs/install.rst
  photutils/__init__.py
Labels: docs, no-changelog-entry-needed

#776 Include setup_requires in package setup
  .travis.yml
  setup.cfg
  setup.py
Labels: infrastructure, no-changelog-entry-needed

#777 Some reorganization of the PSF subpackage
  CHANGES.rst
  photutils/psf/__init__.py
  photutils/psf/funcs.py
  photutils/psf/models.py
  photutils/psf/photometry.py
  photutils/psf/tests/test_epsf.py
  photutils/psf/tests/test_epsf_stars.py
  photutils/psf/tests/test_funcs.py
  photutils/psf/tests/test_groupstars.py
  photutils/psf/tests/test_imagemodel.py
  photutils/psf/tests/test_models.py
  photutils/psf/tests/test_photometry.py
  photutils/psf/tests/test_prf_adapter.py
  photutils/psf/tests/test_sandbox.py
  photutils/psf/tests/test_utils.py
  photutils/psf/utils.py
Labels: psf, testing

#778 Replace astropy remote_data decorator with pytest
  docs/detection.rst
  photutils/aperture/tests/test_aperture_photometry.py
  photutils/datasets/tests/test_load.py
  photutils/isophote/tests/test_ellipse.py
  photutils/isophote/tests/test_fitter.py
  photutils/isophote/tests/test_integrator.py
  photutils/isophote/tests/test_isophote.py
  photutils/isophote/tests/test_model.py
  photutils/isophote/tests/test_regression.py
Labels: no-changelog-entry-needed, testing

#779 Fix aperture_photometry output for a length-1 list of apetures
  CHANGES.rst
  photutils/aperture/core.py
  photutils/aperture/tests/test_aperture_photometry.py
Labels: affects-release, aperture, bug

#780 Deprecate ESPF pixel scale
  CHANGES.rst
  photutils/psf/epsf.py
  photutils/psf/epsf_stars.py
  photutils/psf/models.py
Labels: API, psf

#782 Minor GriddedPSFModel fix
  photutils/psf/models.py
Labels: affects-dev, no-changelog-entry-needed, psf

#783 Require numpy >= 1.11
  .travis.yml
  CHANGES.rst
  photutils/__init__.py
  setup.cfg
Labels: testing

#733 Updated test_photometry to correctly use IntegratedGaussianPRF
  photutils/datasets/make.py
  photutils/datasets/tests/test_make.py
  photutils/psf/tests/test_photometry.py
Labels: psf
