Repository astropy/photutils, pull requests merged in 2018-10, with the labels that each got.

#730 Fix typos in detection docs
  docs/detection.rst
Labels: detection, docs, no-changelog-entry-needed

#715 Add warnings for using a bad smoothing kernel/oversampling combo
  photutils/psf/epsf.py
Labels: psf

#738 Update .gitignore
  .gitignore
Labels: infrastructure, no-changelog-entry-needed

#741 Making deprecations API consistent
  photutils/psf/epsf_stars.py
  photutils/segmentation/core.py
  photutils/utils/cutouts.py
  photutils/utils/interpolation.py
Labels: no-changelog-entry-needed

#744 Check that the input ePSF fitter is an EPSFFitter instance
  photutils/psf/epsf.py
  photutils/psf/tests/test_epsf.py
Labels: no-changelog-entry-needed, psf

#743 Remove warnings about ePSF smoothing kernels
  photutils/psf/epsf.py
Labels: affects-dev, no-changelog-entry-needed, psf

#735 Add docs for custom local background estimation
  docs/aperture.rst
Labels: aperture, background, enhancement, no-changelog-entry-needed

#747 Raise errors for invalid inputs to star or peak finders
  photutils/detection/core.py
  photutils/detection/findstars.py
  photutils/detection/tests/test_core.py
  photutils/detection/tests/test_findstars.py
Labels: detection, no-changelog-entry-needed

#750 Add filtering/selection by peakmax and brightest
  CHANGES.rst
  photutils/detection/findstars.py
  photutils/detection/tests/test_findstars.py
Labels: detection

#754 Added doctest skip to matplotlib import line in aperture.rst
  docs/aperture.rst
Labels: aperture, bug, docs, no-changelog-entry-needed

#759 Allow for masking regions in star finders
  CHANGES.rst
  docs/detection.rst
  photutils/detection/findstars.py
  photutils/detection/tests/test_findstars.py
Labels: detection, enhancement

#758 Make table output of DAOStarFinder and IRAFStarFinder consistent
  photutils/detection/findstars.py
Labels: detection

#760 Note that an empty table is returned if no sources are found
  photutils/detection/findstars.py
Labels: detection, docs, no-changelog-entry-needed

#762 Update find_peaks to return empty table with column names if no peaks are found
  CHANGES.rst
  photutils/detection/core.py
  photutils/detection/findstars.py
  photutils/detection/tests/test_core.py
Labels: detection

#763 Do not use deprecated _naxis1/2 for astropy<3.1
  photutils/datasets/make.py
  photutils/datasets/tests/test_make.py
Labels: datasets, no-changelog-entry-needed
