Repository astropy/photutils, pull requests merged in 2019-12, with the labels that each got.

#988 Using python 3.8 for one of the jobs, and adding one more stage
  .travis.yml
Labels: infrastructure, no-changelog-entry-needed, testing

#1002 Fix to centroid_epsf, where y_shiftidx was using the x-axis oversampling for its calculation
  CHANGES.rst
  photutils/centroids/core.py
  photutils/centroids/tests/test_core.py
Labels: centroids

#1006 Fix centroid_1dg to prevent deprecations with numpy-dev
  photutils/centroids/core.py
  photutils/centroids/tests/test_core.py
Labels: centroids, no-changelog-entry-needed

#1007 Replace CITATION symlink
  CITATION
  CITATION.rst
  MANIFEST.in
  docs/citation.rst
Labels: infrastructure, no-changelog-entry-needed

#1008 Fix upper harmonics calculation
  CHANGES.rst
  photutils/isophote/isophote.py
  photutils/isophote/tests/test_harmonics.py
  photutils/isophote/tests/test_isophote.py
Labels: affects-release, bug, isophote, merge-when-ci-passes

#1009 Bump minimum pytest version
  setup.cfg
Labels: infrastructure, no-changelog-entry-needed, testing
