Repository astropy/photutils, pull requests merged in 2019-09, with the labels that each got.

#955 Update/fix external and internal links
  CODE_OF_CONDUCT.rst
  CONTRIBUTING.rst
  docs/aperture.rst
  docs/background.rst
  docs/conf.py
  docs/datasets.rst
  docs/detection.rst
  docs/epsf.rst
  docs/geometry.rst
  docs/getting_started.rst
  docs/grouping.rst
  docs/install.rst
  docs/isophote.rst
  docs/psf.rst
  docs/psf_matching.rst
  docs/segmentation.rst
  photutils/__init__.py
  photutils/aperture/_photometry_utils.py
  photutils/aperture/bounding_box.py
  photutils/aperture/circle.py
  photutils/aperture/core.py
  photutils/aperture/ellipse.py
  photutils/aperture/mask.py
  photutils/aperture/photometry.py
  photutils/aperture/rectangle.py
  photutils/background/core.py
  photutils/detection/findstars.py
  photutils/psf/groupstars.py
  photutils/psf/photometry.py
  photutils/segmentation/core.py
  photutils/segmentation/deblend.py
  photutils/segmentation/properties.py
  photutils/utils/check_random_state.py
  photutils/utils/errors.py
  photutils/utils/interpolation.py
Labels: aperture, background, detection, docs, no-changelog-entry-needed, psf, segmentation, utils

#956 Remove high level API doc page
  docs/conf.py
  docs/high-level_API.rst
  docs/index.rst
  docs/test_function.rst
  photutils/__init__.py
Labels: docs, no-changelog-entry-needed

#948 Reduce max line length in pep8speak
  .pep8speaks.yml
Labels: infrastructure, no-changelog-entry-needed
