Repository astropy/photutils, pull requests merged in 2019-10, with the labels that each got.

#961 Fix a labeling bug in deblend_sources
  CHANGES.rst
  photutils/segmentation/deblend.py
  photutils/segmentation/tests/test_deblend.py
Labels: affects-release, bug, segmentation

#962 Fix FutureWarning in PSF photometry test
  photutils/psf/tests/test_photometry.py
Labels: bug, no-changelog-entry-needed, psf, testing

#963 Explicitly strip units in source properties
  CHANGES.rst
  photutils/segmentation/properties.py
Labels: bug, segmentation

#965 Be more specific about the astropy version
  setup.cfg
Labels: bug, installation, no-changelog-entry-needed
