Repository astropy/photutils, pull requests merged in 2019-04, with the labels that each got.

#812 Replace assert_array_equal in star group tests
  photutils/psf/tests/test_groupstars.py
Labels: no-changelog-entry-needed, psf, testing

#822 Fixes for source properties with masks
  CHANGES.rst
  docs/segmentation.rst
  photutils/centroids/core.py
  photutils/morphology/tests/test_core.py
  photutils/segmentation/core.py
  photutils/segmentation/properties.py
  photutils/segmentation/tests/test_properties.py
Labels: bug, segmentation

#824 combine instances of models instead of classes
  photutils/centroids/core.py
Labels: centroids, merge-when-ci-passes, no-changelog-entry-needed

#825 Additions and improvements to SegmentationImage
  CHANGES.rst
  docs/grouping.rst
  docs/segmentation.rst
  photutils/segmentation/core.py
  photutils/segmentation/deblend.py
  photutils/segmentation/tests/test_core.py
  photutils/segmentation/tests/test_deblend.py
  photutils/utils/colormaps.py
  photutils/utils/tests/test_colormaps.py
Labels: bug, enhancement, segmentation

#826 Improve performance of ellipse fitting
  photutils/isophote/geometry.py
  photutils/isophote/isophote.py
Labels: isophote, performance

#831 removing duplicate references from docstrings
  photutils/detection/findstars.py
Labels: docs, no-changelog-entry-needed

#832 Use python 3.7 in appveyor
  appveyor.yml
Labels: no-changelog-entry-needed, testing

#834 Expanded FittableImageModel's oversampling factor to allow differing oversampling in x and y
  CHANGES.rst
  photutils/psf/epsf.py
  photutils/psf/models.py
  photutils/psf/tests/test_models.py
Labels: merge-when-ci-passes, psf

#835 Remove deprecated subpixels keyword and cutout_footprint function
  CHANGES.rst
  photutils/detection/core.py
  photutils/detection/tests/test_core.py
  photutils/utils/__init__.py
  photutils/utils/cutouts.py
  photutils/utils/tests/test_cutouts.py
Labels: API, detection, utils

#836 Consistent handling of cases when there are no source/peak detections
  CHANGES.rst
  photutils/detection/core.py
  photutils/detection/findstars.py
  photutils/detection/tests/test_core.py
  photutils/detection/tests/test_findstars.py
  photutils/psf/photometry.py
  photutils/segmentation/core.py
  photutils/segmentation/deblend.py
  photutils/segmentation/detect.py
  photutils/segmentation/properties.py
  photutils/segmentation/tests/test_core.py
  photutils/segmentation/tests/test_deblend.py
  photutils/segmentation/tests/test_detect.py
  photutils/segmentation/tests/test_properties.py
  photutils/utils/__init__.py
  photutils/utils/exceptions.py
Labels: API, detection, segmentation

#815 Removal of pixel_scale from ePSF framework
  CHANGES.rst
  photutils/psf/epsf.py
  photutils/psf/epsf_stars.py
  photutils/psf/models.py
Labels: psf

#837 Remove unused imports
  photutils/psf/epsf.py
  photutils/psf/epsf_stars.py
  photutils/psf/models.py
Labels: no-changelog-entry-needed, psf
