Repository astropy/photutils, pull requests merged in 2019-08, with the labels that each got.

#908 Remove AppVeyor CI and move windows CI testing to travis-ci
  .travis.yml
  CONTRIBUTING.rst
  README.rst
  appveyor.yml
Labels: no-changelog-entry-needed, testing

#910 Update badges on README
  README.rst
Labels: no-changelog-entry-needed

#909 Remove unused import
  photutils/psf/sandbox.py
Labels: no-changelog-entry-needed, psf

#912 Fix #911: linear mode not working
  photutils/isophote/ellipse.py
  photutils/isophote/tests/test_ellipse.py
Labels: bug, isophote, merge-when-ci-passes

#892 Addition of columns to photutils.isophote._isophote_list_to_table()
  photutils/isophote/isophote.py
Labels: enhancement, isophote

#916 Simplify reseting lazy properties in SegmentationImage
  CHANGES.rst
  photutils/segmentation/core.py
Labels: enhancement, segmentation

#917 Fix make_source_mask for no detections
  CHANGES.rst
  docs/background.rst
  docs/segmentation.rst
  photutils/detection/core.py
  photutils/detection/tests/test_core.py
  photutils/segmentation/detect.py
  photutils/segmentation/tests/test_detect.py
Labels: API, affects-dev, bug, detection, segmentation

#918 Deprecate util functions
  CHANGES.rst
  photutils/aperture/photometry.py
  photutils/detection/findstars.py
  photutils/segmentation/deblend.py
  photutils/segmentation/detect.py
  photutils/segmentation/properties.py
  photutils/utils/convolution.py
  photutils/utils/misc.py
  photutils/utils/stats.py
  photutils/utils/tests/test_convolution.py
  photutils/utils/tests/test_stats.py
Labels: API, utils

#817 Fixes to ePSF Framework: Normalization Handling & ePSF Building
  CHANGES.rst
  photutils/psf/epsf.py
  photutils/psf/epsf_stars.py
  photutils/psf/models.py
  photutils/psf/tests/test_epsf.py
  photutils/psf/tests/test_epsf_stars.py
Labels: psf

#919 Docstring tweaks in psf/epsf
  photutils/psf/epsf.py
  photutils/psf/models.py
Labels: docs, no-changelog-entry-needed, psf

#914 Simplify package setup
  .gitignore
  .readthedocs.yml
  LONG_DESCRIPTION.rst
  MANIFEST.in
  docs/conf.py
  docs/install.rst
  photutils/__init__.py
  photutils/datasets/setup_package.py
  photutils/detection/setup_package.py
  photutils/isophote/setup_package.py
  photutils/tests/setup_package.py
  readthedocs.yml
  requirements.txt
  setup.cfg
  setup.py
Labels: docs, infrastructure, no-changelog-entry-needed, testing

#924 Improve performance of source deblending
  CHANGES.rst
  photutils/segmentation/core.py
  photutils/segmentation/deblend.py
  photutils/segmentation/detect.py
Labels: performance, segmentation

#925 Misc PEP8 cleanup in psf subpackage
  photutils/psf/epsf.py
  photutils/psf/epsf_stars.py
  photutils/psf/tests/test_epsf.py
Labels: no-changelog-entry-needed, psf

#928 Temporarily allow astropy-dev travis test failures
  .travis.yml
Labels: no-changelog-entry-needed, testing

#927 Fix deprecation warnings in tests
  photutils/utils/interpolation.py
  photutils/utils/tests/test_interpolation.py
Labels: no-changelog-entry-needed, testing

#926 Adding __bibtex__ and __citation__
  CHANGES.rst
  CITATION
  MANIFEST.in
  docs/citation.rst
  photutils/CITATION
  photutils/__init__.py
  setup.cfg
Labels: infrastructure

#930 Pin MPL to <3.1 for RTD builds
  .readthedocs.yml
  docs/rtd_requirements.txt
Labels: docs, no-changelog-entry-needed

#931 Some fix for psf modeling
  .travis.yml
  photutils/psf/models.py
Labels: affects-dev, psf

#932 Adding pytest header report
  photutils/conftest.py
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing

#934 Fix radial gradient computation in `ellipse`
  CHANGES.rst
  photutils/isophote/sample.py
  photutils/isophote/tests/test_ellipse.py
  photutils/isophote/tests/test_model.py
Labels: bug, isophote

#933 Overlords
  .pep8speaks.yml
  pyproject.toml
Labels: infrastructure, no-changelog-entry-needed

#935 Removable of unused and memory intense ePSF iteration save states
  photutils/psf/epsf.py
Labels: affects-dev, merge-when-ci-passes, no-changelog-entry-needed, psf

#936 TST: pep8speak to use flake8
  .pep8speaks.yml
Labels: no-changelog-entry-needed

#937 PSF fixes and code cleanup
  CHANGES.rst
  photutils/psf/epsf.py
  photutils/psf/models.py
Labels: affects-dev, bug, no-changelog-entry-needed, psf

#938 Fix ellipse fitting test for new gradient computation
  photutils/isophote/tests/test_fitter.py
Labels: affects-dev, isophote, no-changelog-entry-needed, testing

#939 Fix to EPSFModel initial_norm, where flux failed to be returned
  photutils/psf/models.py
Labels: affects-dev, bug, no-changelog-entry-needed, psf

#940 Update travis remote-data test
  .travis.yml
  photutils/isophote/tests/test_ellipse.py
Labels: infrastructure, no-changelog-entry-needed, testing

#942 Fix to IterativelySubtractedPSFPhotometry where residual_image was not set for non-background subtracted images
  CHANGES.rst
  photutils/psf/photometry.py
Labels: bug, psf

#946 TST: Update flake8 setting for pep8speaks
  .pep8speaks.yml
Labels: infrastructure, no-changelog-entry-needed

#745 Added the ability to pass additional column names to PSFPhotometry classes to be returned to the user
  CHANGES.rst
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: psf

#949 Pinning pytest version to workaround 5.1 issue
  .circleci/config.yml
Labels: infrastructure, merge-when-ci-passes, no-changelog-entry-needed, testing

#952 Update minimum python and astropy dependencies
  .travis.yml
  CHANGES.rst
  docs/install.rst
  setup.cfg
Labels: infrastructure, testing

#953 Remove deprecations
  CHANGES.rst
  photutils/aperture/_photometry_utils.py
  photutils/aperture/attributes.py
  photutils/aperture/bounding_box.py
  photutils/aperture/circle.py
  photutils/aperture/core.py
  photutils/aperture/ellipse.py
  photutils/aperture/photometry.py
  photutils/aperture/rectangle.py
  photutils/background/background_2d.py
  photutils/datasets/make.py
  photutils/detection/core.py
  photutils/detection/findstars.py
  photutils/psf/sandbox.py
  photutils/segmentation/core.py
  photutils/segmentation/deblend.py
  photutils/segmentation/detect.py
  photutils/segmentation/properties.py
  photutils/utils/__init__.py
  photutils/utils/_convolution.py
  photutils/utils/_misc.py
  photutils/utils/colormaps.py
  photutils/utils/interpolation.py
  photutils/utils/stats.py
  photutils/utils/tests/test_convolution.py
  photutils/utils/tests/test_interpolation.py
  photutils/utils/tests/test_stats.py
  photutils/utils/wcs_helpers.py
Labels: API, aperture, background, datasets, detection, psf, segmentation, utils

#954 Remove code used for astropy < 3.1
  photutils/background/background_2d.py
  photutils/background/core.py
  photutils/conftest.py
  photutils/datasets/make.py
  photutils/datasets/tests/test_make.py
  photutils/detection/core.py
  photutils/extern/sigma_clipping.py
  photutils/psf/epsf.py
  photutils/segmentation/detect.py
Labels: background, datasets, detection, no-changelog-entry-needed, psf, segmentation
