Repository astropy/photutils, pull requests merged in 2019-06, with the labels that each got.

#857 Improve calc_total_error docstring
  photutils/utils/errors.py
Labels: docs, enhancement, no-changelog-entry-needed

#858 Improvements for segmentation-based properties
  CHANGES.rst
  photutils/segmentation/core.py
  photutils/segmentation/deblend.py
  photutils/segmentation/detect.py
  photutils/segmentation/properties.py
  photutils/segmentation/tests/test_core.py
  photutils/segmentation/tests/test_deblend.py
  photutils/segmentation/tests/test_properties.py
Labels: API, enhancement, segmentation

#861 Improve aperture photometry performance
  CHANGES.rst
  photutils/aperture/core.py
  photutils/aperture/tests/test_aperture_photometry.py
Labels: aperture, enhancement, performance

#863 Improvements for source properties
  CHANGES.rst
  docs/morphology.rst
  photutils/segmentation/properties.py
  photutils/segmentation/tests/test_properties.py
Labels: API, enhancement, segmentation

#864 Add Gini coefficient as source property
  CHANGES.rst
  docs/segmentation.rst
  photutils/morphology/non_parametric.py
  photutils/segmentation/properties.py
  photutils/segmentation/tests/test_properties.py
Labels: enhancement, segmentation

#865 Remove skimage from several doctest-requires
  docs/morphology.rst
  docs/psf.rst
Labels: docs, no-changelog-entry-needed

#816 Extended Centroid Functionality to Handle Oversampled Grids
  CHANGES.rst
  photutils/centroids/core.py
  photutils/centroids/tests/test_core.py
Labels: psf

#866 Support NDData with StdDevUncertainty in aperture_photometry
  CHANGES.rst
  photutils/aperture/core.py
  photutils/aperture/tests/test_aperture_photometry.py
Labels: API, aperture, enhancement

#867 Deprecate HDU and HDUList inputs to aperture photometry
  CHANGES.rst
  docs/aperture.rst
  photutils/aperture/core.py
  photutils/aperture/tests/test_aperture_photometry.py
Labels: API, aperture

#868 Fix latex formating in FittableImageModel docstring
  photutils/psf/models.py
Labels: docs, no-changelog-entry-needed, psf

#871 Add function to make example gwcs object
  CHANGES.rst
  photutils/datasets/make.py
  photutils/datasets/tests/test_make.py
Labels: datasets, enhancement

#872 Fix filter_data to preserve units
  CHANGES.rst
  photutils/utils/convolution.py
  photutils/utils/tests/test_convolution.py
Labels: bug, utils

#873 Fix travis test with optional dependencies disabled
  .travis.yml
  photutils/segmentation/tests/test_properties.py
Labels: no-changelog-entry-needed, testing

#876 Move aperture_photometry function to new aperture.photometry module
  CHANGES.rst
  photutils/aperture/__init__.py
  photutils/aperture/_photometry_utils.py
  photutils/aperture/attributes.py
  photutils/aperture/bounding_box.py
  photutils/aperture/core.py
  photutils/aperture/mask.py
  photutils/aperture/photometry.py
  photutils/aperture/tests/test_aperture_common.py
  photutils/aperture/tests/test_bounding_box.py
  photutils/aperture/tests/test_circle.py
  photutils/aperture/tests/test_ellipse.py
  photutils/aperture/tests/test_mask.py
  photutils/aperture/tests/test_photometry.py
  photutils/aperture/tests/test_rectangle.py
Labels: API, aperture

#877 Rename type keyword to distribution in make_noise_image
  CHANGES.rst
  docs/epsf.rst
  docs/isophote.rst
  docs/psf.rst
  photutils/background/tests/test_core.py
  photutils/datasets/make.py
  photutils/isophote/tests/make_test_data.py
  photutils/isophote/tests/test_ellipse.py
  photutils/psf/tests/test_photometry.py
  photutils/segmentation/detect.py
Labels: API, datasets

#878 Add citation file
  CITATION.rst
  MANIFEST.in
Labels: infrastructure, no-changelog-entry-needed

#879 Update package readme
  README.rst
Labels: infrastructure, no-changelog-entry-needed

#881 Update main doc pages
  CITATION.rst
  docs/citation.rst
  docs/contributing.rst
  docs/getting_started.rst
  docs/index.rst
  docs/install.rst
  docs/license.rst
  docs/overview.rst
  docs/pixel_conventions.rst
Labels: docs, enhancement, no-changelog-entry-needed

#882 Bump minimum required numpy version
  .travis.yml
  photutils/__init__.py
  setup.cfg
Labels: infrastructure, no-changelog-entry-needed, testing

#884 Update ePSF-building docs to explicitly exclude border stars
  docs/epsf.rst
Labels: docs, no-changelog-entry-needed, psf

#885 Fix bug in EPSFStar residual image
  CHANGES.rst
  photutils/psf/epsf_stars.py
  photutils/psf/tests/test_epsf_stars.py
Labels: affects-release, bug, psf

#886 Fix is_consecutive to check starting label
  CHANGES.rst
  photutils/segmentation/core.py
  photutils/segmentation/tests/test_core.py
Labels: bug, segmentation

#887 Simplify aperture property validation
  photutils/aperture/attributes.py
  photutils/aperture/bounding_box.py
  photutils/aperture/circle.py
  photutils/aperture/core.py
  photutils/aperture/ellipse.py
  photutils/aperture/mask.py
  photutils/aperture/rectangle.py
  photutils/aperture/tests/test_aperture_common.py
Labels: aperture, enhancement, no-changelog-entry-needed
