Repository astropy/photutils, pull requests merged in 2019-11, with the labels that each got.

#977 Using new pytest-astropy-header plugin directly
  photutils/conftest.py
Labels: infrastructure, no-changelog-entry-needed, testing

#981 Grammar fixes in the documentation
  CHANGES.rst
  CODE_OF_CONDUCT.rst
  CONTRIBUTING.rst
  docs/aperture.rst
  docs/background.rst
  docs/contributing.rst
  docs/datasets.rst
  docs/epsf.rst
  docs/grouping.rst
  docs/install.rst
  docs/isophote_faq.rst
  docs/psf.rst
  docs/psf_matching.rst
Labels: docs, no-changelog-entry-needed

#982 Replace numpy dtypes with Python versions
  photutils/aperture/tests/test_photometry.py
  photutils/background/background_2d.py
  photutils/centroids/core.py
  photutils/centroids/tests/test_core.py
  photutils/datasets/make.py
  photutils/detection/findstars.py
  photutils/detection/tests/test_core.py
  photutils/isophote/isophote.py
  photutils/morphology/core.py
  photutils/morphology/tests/test_core.py
  photutils/psf/groupstars.py
  photutils/psf/photometry.py
  photutils/psf/sandbox.py
  photutils/psf/tests/test_groupstars.py
  photutils/segmentation/core.py
  photutils/segmentation/properties.py
  photutils/segmentation/tests/test_core.py
  photutils/segmentation/tests/test_detect.py
  photutils/segmentation/tests/test_properties.py
  photutils/utils/interpolation.py
  photutils/utils/tests/test_convolution.py
  photutils/utils/tests/test_interpolation.py
Labels: aperture, background, centroids, datasets, detection, isophote, morphology, no-changelog-entry-needed, psf, refactoring, segmentation, utils

#974 Fix to ePSF algorithm changes in v0.7
  CHANGES.rst
  docs/epsf.rst
  photutils/psf/epsf.py
  photutils/psf/tests/test_epsf.py
Labels: psf

#986 Fix to IterativelySubtractedPSFPhotometry failing when Finder does not return None if no sources are detected
  CHANGES.rst
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: psf

#987 * np.pi / 180. -> np.radians
  photutils/datasets/make.py
Labels: datasets, no-changelog-entry-needed
