Repository astropy/photutils, pull requests merged in 2020-07, with the labels that each got.

#1058 Remove extraneous line in conftest
  photutils/conftest.py
Labels: no-changelog-entry-needed, testing

#1060 Remove unnecessary check for warning class
  photutils/detection/tests/test_core.py
  photutils/detection/tests/test_findstars.py
Labels: detection, no-changelog-entry-needed, testing

#1056 Isophote: fix bug in radius calculation in elliptical model build
  CHANGES.rst
  photutils/isophote/model.py
  photutils/isophote/tests/data/minimum_radius_test.fits
  photutils/isophote/tests/test_model.py
Labels: bug, isophote

#1061 Add coverage_mask keyword to Background2D
  CHANGES.rst
  docs/background.rst
  photutils/background/background_2d.py
  photutils/background/tests/test_background_2d.py
Labels: background, enhancement

#1062 Change dtype to float for nan fill_value
  CHANGES.rst
  photutils/psf/utils.py
Labels: bug, psf
