Repository astropy/photutils, pull requests merged in 2020-10, with the labels that each got.

#1090 Update release docs for bugfix releases
  docs/dev/releasing.rst
Labels: docs, no-changelog-entry-needed

#1097 Replace unicode characters in citation.rst
  photutils/CITATION.rst
Labels: bug, infrastructure, no-changelog-entry-needed

#1093 Remove aperture benchmarks
  benchmarks/bench_aperture.py
Labels: infrastructure, merge-when-ci-passes, no-changelog-entry-needed

#1092 Update Sphinx configuration
  docs/conf.py
  docs/nitpick-exceptions
Labels: docs, no-changelog-entry-needed

#1098 Remove broken windows CI test
  .travis.yml
Labels: no-changelog-entry-needed, testing

#1100 Update dev install instructions
  docs/install.rst
Labels: docs, infrastructure, installation, no-changelog-entry-needed

#1101 Add bandit to tox and add as a CI job
  .bandit.yaml
  .travis.yml
  tox.ini
Labels: no-changelog-entry-needed, testing

#923 Update `CircularAperture.plot()` to return patches
  CHANGES.rst
  photutils/aperture/core.py
  photutils/aperture/tests/test_circle.py
Labels: aperture

#1091 Changed "info" log to warning to allow for infinte loop catching.
  photutils/isophote/fitter.py
Labels: isophote

#1102 Fix travis link in README
  README.rst
Labels: docs, no-changelog-entry-needed

#1104 Fix bug in Background2D when using BkgIDWInterpolator
  CHANGES.rst
  photutils/background/background_2d.py
  photutils/background/tests/test_background_2d.py
Labels: background, bug

#1107 Fix typo in aperture docstring
  photutils/aperture/attributes.py
Labels: aperture, docs, no-changelog-entry-needed

#1103 modify _data_coords calculation
  CHANGES.rst
  photutils/background/background_2d.py
Labels: background, performance

#1108 Refactor Background2D to improve performance with default interpolator
  photutils/background/background_2d.py
Labels: background, no-changelog-entry-needed, performance

#1109 Update code to use f-strings
  docs/conf.py
  photutils/__init__.py
  photutils/aperture/attributes.py
  photutils/aperture/core.py
  photutils/aperture/photometry.py
  photutils/datasets/load.py
  photutils/datasets/make.py
  photutils/detection/tests/test_findstars.py
  photutils/isophote/geometry.py
  photutils/isophote/tests/test_regression.py
  photutils/psf/epsf.py
  photutils/psf/epsf_stars.py
  photutils/psf/groupstars.py
  photutils/psf/photometry.py
  photutils/psf/sandbox.py
  photutils/psf/utils.py
  photutils/segmentation/core.py
  photutils/segmentation/deblend.py
  photutils/segmentation/detect.py
  photutils/segmentation/properties.py
  photutils/segmentation/tests/test_core.py
  photutils/segmentation/tests/test_properties.py
  photutils/utils/_misc.py
  photutils/utils/check_random_state.py
Labels: aperture, datasets, detection, isophote, no-changelog-entry-needed, psf, refactoring, segmentation, utils
