Repository astropy/photutils, pull requests merged in 2020-12, with the labels that each got.

#1129 Fix bug with zero length samples
  CHANGES.rst
  photutils/isophote/ellipse.py
  photutils/isophote/fitter.py
Labels: bug, isophote

#1121 DOC: Update license year
  LICENSE.rst
Labels: docs, no-changelog-entry-needed

#1132 Fix negative Kron radius
  CHANGES.rst
  photutils/segmentation/properties.py
Labels: bug, segmentation
