Repository astropy/photutils, pull requests merged in 2020-09, with the labels that each got.

#1068 Add Kron radius and flux
  CHANGES.rst
  photutils/segmentation/properties.py
  photutils/segmentation/tests/test_properties.py
Labels: enhancement, segmentation

#1070 Add user to input both parameters for ellipse and rectangle inner annuli
  CHANGES.rst
  photutils/aperture/ellipse.py
  photutils/aperture/rectangle.py
  photutils/aperture/tests/test_photometry.py
Labels: aperture, enhancement

#1073 MNT: Remove PSF experimental warning
  docs/psf.rst
Labels: no-changelog-entry-needed

#1072 MNT: Remove outdated PSF notebooks
  docs/psf.rst
Labels: no-changelog-entry-needed

#1075 Add local background estimator to SourceProperties
  CHANGES.rst
  photutils/background/core.py
  photutils/segmentation/properties.py
  photutils/segmentation/tests/test_properties.py
Labels: enhancement, segmentation

#1076 Allow odd oversampling factors in EPSFBuilder
  CHANGES.rst
  photutils/psf/epsf.py
  photutils/psf/models.py
  photutils/psf/tests/test_epsf.py
Labels: enhancement, psf

#1079 MNT: Drop Numpy 1.16
  .travis.yml
  CHANGES.rst
  docs/install.rst
  photutils/aperture/tests/test_photometry.py
  photutils/background/background_2d.py
  photutils/detection/findstars.py
  setup.cfg
  tox.ini
Labels: aperture, background, detection, refactoring

#1080 Replace RandomState with default Generator
  CHANGES.rst
  docs/epsf.rst
  docs/grouping.rst
  docs/isophote.rst
  docs/psf.rst
  docs/segmentation.rst
  photutils/aperture/bounding_box.py
  photutils/background/tests/test_core.py
  photutils/datasets/make.py
  photutils/datasets/tests/test_make.py
  photutils/isophote/tests/make_test_data.py
  photutils/isophote/tests/test_ellipse.py
  photutils/isophote/tests/test_fitter.py
  photutils/isophote/tests/test_harmonics.py
  photutils/isophote/tests/test_isophote.py
  photutils/isophote/tests/test_model.py
  photutils/isophote/tests/test_sample.py
  photutils/psf/tests/test_epsf.py
  photutils/psf/tests/test_photometry.py
  photutils/segmentation/core.py
  photutils/segmentation/detect.py
  photutils/segmentation/tests/test_core.py
  photutils/utils/check_random_state.py
  photutils/utils/colormaps.py
  photutils/utils/interpolation.py
  photutils/utils/tests/test_colormaps.py
  photutils/utils/tests/test_interpolation.py
  photutils/utils/tests/test_random_state.py
Labels: aperture, background, datasets, isophote, psf, refactoring, segmentation, utils

#1081 Bump minimum astropy to 4.0
  .travis.yml
  CHANGES.rst
  docs/install.rst
  setup.cfg
  tox.ini
Labels: installation

#1082 Add oldestdeps to tox config
  tox.ini
Labels: infrastructure, no-changelog-entry-needed, testing

#1083 Fix epsf doctest
  docs/epsf.rst
Labels: docs, no-changelog-entry-needed, testing

#1084 Update doc references
  docs/background.rst
  docs/detection.rst
  docs/epsf.rst
  docs/morphology.rst
  docs/psf.rst
  docs/segmentation.rst
Labels: docs, no-changelog-entry-needed

#1086 Fix checks on oversampling
  CHANGES.rst
  photutils/psf/models.py
  photutils/psf/tests/test_epsf.py
  photutils/psf/tests/test_models.py
Labels: affects-release, bug, psf

#1087 Add package release instructions
  docs/dev/releasing.rst
  docs/index.rst
Labels: docs, no-changelog-entry-needed

#1088 Update citation example to 1.0.0
  photutils/CITATION.rst
Labels: docs, no-changelog-entry-needed
