Repository astropy/photutils, pull requests merged in 2020-05, with the labels that each got.

#1031 Update URLs in docs
  docs/conf.py
  docs/contributing.rst
  docs/detection.rst
  docs/epsf.rst
  docs/grouping.rst
  docs/install.rst
  docs/isophote.rst
  docs/isophote_faq.rst
  docs/psf.rst
  docs/psf_matching.rst
  photutils/detection/findstars.py
  photutils/isophote/ellipse.py
  photutils/isophote/fitter.py
  photutils/morphology/non_parametric.py
  photutils/psf/epsf.py
  photutils/psf/groupstars.py
  photutils/psf/photometry.py
  photutils/segmentation/properties.py
Labels: detection, docs, isophote, morphology, no-changelog-entry-needed, psf, segmentation

#984 Restore flux_residual_sigclip
  CHANGES.rst
  photutils/psf/epsf.py
  photutils/psf/tests/test_epsf.py
Labels: psf

#1012 Added method to compute local model from GriddedPSFModel (issue #1011)
  photutils/psf/models.py
Labels: no-changelog-entry-needed, psf

#1001 Removed param_tab as keyword from IterativelySubtractedPSFPhotometry
  photutils/psf/photometry.py
Labels: no-changelog-entry-needed, psf

#1032 Update travis config
  .travis.yml
Labels: no-changelog-entry-needed, testing

#1033 Readme updates
  README.rst
Labels: docs, no-changelog-entry-needed

#1034 Replace numpy dtypes in psf subpackage
  photutils/psf/epsf.py
  photutils/psf/epsf_stars.py
  photutils/psf/models.py
  photutils/psf/photometry.py
  photutils/psf/tests/test_epsf.py
  photutils/psf/tests/test_models.py
Labels: no-changelog-entry-needed, refactoring

#1035 Add interpolation="nearest" for imshow plots in documentation
  docs/aperture.rst
  docs/background.rst
  docs/centroids.rst
  docs/detection.rst
  docs/segmentation.rst
Labels: docs, no-changelog-entry-needed

#1036 Add descriptive comment for DAOStarFinder roundness
  photutils/detection/findstars.py
Labels: detection, docs, no-changelog-entry-needed

#1041 Update scikit-image watershed import
  photutils/datasets/make.py
  photutils/isophote/tests/make_test_data.py
  photutils/segmentation/core.py
  photutils/segmentation/deblend.py
  photutils/utils/check_random_state.py
  photutils/utils/colormaps.py
Labels: docs, no-changelog-entry-needed, segmentation

#1039 Break the while loop outside the image [Fixes #1038]
  CHANGES.rst
  photutils/isophote/model.py
Labels: isophote, merge-when-ci-passes

#1040 Use numpy nightly wheel in dev tests
  tox.ini
Labels: no-changelog-entry-needed, testing
