Repository astropy/photutils, pull requests merged in 2020-06, with the labels that each got.

#1049 Remove legacy PRF test due to excessive memory usage
  photutils/psf/tests/test_sandbox.py
Labels: no-changelog-entry-needed, psf, psf_matching, testing

#1051 Move imports in setup.py
  setup.py
Labels: infrastructure, no-changelog-entry-needed

#1052 Fix typo in higher-order harmonic coefficient fit computation
  CHANGES.rst
  photutils/isophote/model.py
Labels: bug, isophote
