Repository astropy/photutils, pull requests merged in 2021-01, with the labels that each got.

#1137 Change BkgZoomInterpolator default method to constant
  CHANGES.rst
  photutils/background/background_2d.py
Labels: background, bug

#1089 correcting upper harmonics (and related errors)
  CHANGES.rst
  photutils/isophote/isophote.py
  photutils/isophote/tests/test_harmonics.py
Labels: bug, isophote

#1138 Fix links to astromatic software
  docs/aperture.rst
  docs/background.rst
  docs/datasets.rst
  docs/pixel_conventions.rst
  docs/segmentation.rst
  photutils/background/background_2d.py
  photutils/background/core.py
  photutils/background/tests/test_core.py
  photutils/segmentation/deblend.py
  photutils/segmentation/detect.py
  photutils/segmentation/properties.py
  photutils/utils/errors.py
Labels: background, docs, no-changelog-entry-needed, segmentation, utils

#1139 Add missing default fixed params in EllipseSample
  CHANGES.rst
  photutils/isophote/geometry.py
  photutils/isophote/sample.py
Labels: bug, isophote

#1133 Fix segmentation bug: remove_border_labels and relabel=True when no remaining segments
  photutils/segmentation/core.py
  photutils/segmentation/tests/test_core.py
Labels: bug, segmentation

#1140 Allow Quantity, NDData, and CCDData input to Background2D
  CHANGES.rst
  photutils/background/background_2d.py
  photutils/background/tests/test_background_2d.py
Labels: background, feature request

#1117 Add new feature to_table
  CHANGES.rst
  photutils/isophote/isophote.py
  photutils/isophote/tests/test_isophote.py
Labels: feature request, isophote

#1141 Add example of plotting aperture legend in aperture docs
  docs/aperture.rst
Labels: aperture, docs, no-changelog-entry-needed

#1142 Add python 3.9 test
  .github/workflows/ci_tests.yml
Labels: no-changelog-entry-needed, testing

#1144 Change Default EPSFBuilder Recentering Function
  CHANGES.rst
  photutils/psf/epsf.py
  photutils/psf/tests/test_epsf.py
Labels: bug, psf

#1143 Fix invalid PSF fit uncertainties when fitter does not return a covariance matrix
  CHANGES.rst
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: bug, psf

#1147 Remove centroid deprecations
  CHANGES.rst
  photutils/centroids/gaussian.py
  photutils/centroids/tests/test_gaussian.py
Labels: API, centroids

#1148 Clean up top-level namespace
  photutils/__init__.py
Labels: no-changelog-entry-needed, refactoring

#1151 Change test tolerance in background tests
  docs/segmentation.rst
  photutils/background/tests/test_background_2d.py
Labels: background, docs, no-changelog-entry-needed, testing

#1146 don't cause warning when using custom smoothing kernel in EPSFBuilder
  photutils/psf/epsf.py
Labels: psf

#874 add area_overlap method for apertures
  photutils/aperture/core.py
Labels: aperture, enhancement

#1154 Raise useful error when indexing a scalar Aperture
  CHANGES.rst
  photutils/aperture/core.py
  photutils/aperture/tests/test_circle.py
Labels: aperture, bug

#1155 Fix typo in aperture docs
  docs/aperture.rst
Labels: docs, no-changelog-entry-needed
