Repository astropy/photutils, pull requests merged in 2021-03, with the labels that each got.

#1171 Move the detect_threshold function the segmentation subpackage
  CHANGES.rst
  docs/legacy_segmentation.rst
  docs/segmentation.rst
  photutils/detection/__init__.py
  photutils/detection/findpeaks.py
  photutils/detection/findstars.py
  photutils/detection/tests/test_findpeaks.py
  photutils/segmentation/detect.py
  photutils/segmentation/tests/test_detect.py
Labels: API, refactoring, segmentation

#1172 Fix segmentation docs
  docs/legacy_segmentation.rst
  docs/segmentation.rst
Labels: docs, no-changelog-entry-needed, testing

#1173 Refactor detection subpackage
  photutils/detection/__init__.py
  photutils/detection/_utils.py
  photutils/detection/base.py
  photutils/detection/daofind.py
  photutils/detection/findstars.py
  photutils/detection/irafstarfind.py
  photutils/detection/peakfind.py
  photutils/detection/tests/test_daofind.py
  photutils/detection/tests/test_findstars.py
  photutils/detection/tests/test_irafstarfind.py
  photutils/detection/tests/test_peakfind.py
Labels: detection, no-changelog-entry-needed, refactoring

#1175 Issue deprecation warnings for moved detection classes/functions
  photutils/detection/__init__.py
  photutils/detection/_utils.py
  photutils/detection/core.py
  photutils/detection/daofinder.py
  photutils/detection/findstars.py
  photutils/detection/irafstarfinder.py
  photutils/detection/peakfinder.py
  photutils/detection/tests/test_daofinder.py
  photutils/detection/tests/test_irafstarfinder.py
  photutils/detection/tests/test_peakfinder.py
Labels: detection, no-changelog-entry-needed, refactoring

#1177 Issue deprecation warnings about moved star finder kernel class
  photutils/detection/findstars.py
Labels: detection, no-changelog-entry-needed, refactoring

#1182 Add a StarFinder class
  CHANGES.rst
  photutils/detection/__init__.py
  photutils/detection/findstars.py
  photutils/detection/starfinder.py
  photutils/detection/tests/test_starfinder.py
Labels: detection

#1180 Fix issue #1174 (division by zero in gradient computation)
  CHANGES.rst
  photutils/isophote/fitter.py
  photutils/isophote/sample.py
  photutils/isophote/tests/test_fitter.py
Labels: bug, isophote

#1184 Remove warning message with rectangular apertures
  photutils/aperture/core.py
  photutils/aperture/photometry.py
Labels: aperture, docs, merge-when-ci-passes

#1152 Make EPSFStars usable with multiprocessing
  photutils/psf/epsf_stars.py
  photutils/psf/tests/test_epsf_stars.py
Labels: psf

#1185 Fix slicing EPSFStars
  CHANGES.rst
  photutils/psf/epsf_stars.py
  photutils/psf/tests/test_epsf.py
  photutils/psf/tests/test_epsf_stars.py
  photutils/psf/tests/test_models.py
Labels: psf

#1186 Remove unused line in starfinder
  photutils/detection/starfinder.py
Labels: detection, no-changelog-entry-needed

#1187 Add bbox attribute to SegmentationImage
  CHANGES.rst
  photutils/segmentation/catalog.py
  photutils/segmentation/core.py
  photutils/segmentation/deblend.py
  photutils/segmentation/properties.py
  photutils/segmentation/tests/test_catalog.py
  photutils/segmentation/tests/test_core.py
Labels: API, enhancement, segmentation

#1178 MNT: Replace master with main
  CITATION.rst
  CONTRIBUTING.rst
  README.rst
  docs/dev/releasing.rst
  docs/isophote.rst
  photutils/datasets/load.py
Labels: no-changelog-entry-needed

#1135 formerly hacky fix for incorrect model names trying to be accessed if more than two stars in group
  CHANGES.rst
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
  photutils/psf/tests/test_utils.py
  photutils/psf/utils.py
Labels: bug, psf

#740 Add fallback aperture_radius to psf photometry
  CHANGES.rst
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: psf

#1189 Update imports in docs and examples to use subpackage names
  docs/aperture.rst
  docs/background.rst
  docs/centroids.rst
  docs/datasets.rst
  docs/detection.rst
  docs/epsf.rst
  docs/getting_started.rst
  docs/grouping.rst
  docs/isophote.rst
  docs/morphology.rst
  docs/psf.rst
  docs/psf_matching.rst
  photutils/aperture/bounding_box.py
  photutils/aperture/circle.py
  photutils/aperture/ellipse.py
  photutils/aperture/rectangle.py
  photutils/background/core.py
  photutils/background/tests/test_core.py
  photutils/datasets/load.py
  photutils/datasets/make.py
  photutils/psf/matching/windows.py
  photutils/segmentation/core.py
Labels: docs, no-changelog-entry-needed

#1190 Deprecate top-level imports from centroids and morphology subpackages
  CHANGES.rst
  photutils/__init__.py
Labels: API

#1188 Add circular_aperture and circular_photomety methods to SourceCatalog
  CHANGES.rst
  docs/segmentation.rst
  docs/whats_new/1.1.rst
  photutils/segmentation/catalog.py
  photutils/segmentation/tests/test_catalog.py
Labels: enhancement, segmentation

#1191 Add FWHM property to SourceCatalog
  CHANGES.rst
  docs/whats_new/1.1.rst
  photutils/segmentation/catalog.py
  photutils/segmentation/tests/test_catalog.py
Labels: enhancement, segmentation

#1192 Add fluxfrac_radius method to SourceCatalog
  CHANGES.rst
  docs/whats_new/1.1.rst
  photutils/segmentation/catalog.py
  photutils/segmentation/tests/test_catalog.py
Labels: enhancement, segmentation

#1193 Fix Sphinx warning
  photutils/psf/models.py
  tox.ini
Labels: docs, no-changelog-entry-needed

#1195 Fix the DAOStarFinder import deprecation message
  CHANGES.rst
  photutils/detection/findstars.py
Labels: affects-release, bug, detection

#1196 Fix typo in error message
  photutils/segmentation/catalog.py
Labels: docs

#1197 Add check that SourceCatalog input data is a 2D array
  photutils/segmentation/catalog.py
  photutils/segmentation/tests/test_catalog.py
  photutils/segmentation/tests/test_detect.py
Labels: no-changelog-entry-needed, segmentation

#1198 Fix scalar background input in data_properties
  CHANGES.rst
  photutils/morphology/core.py
  photutils/morphology/tests/test_core.py
Labels: bug, morphology
