Repository astropy/photutils, pull requests merged in 2021-09, with the labels that each got.

#1232 Refactor background classes
  CHANGES.rst
  photutils/background/__init__.py
  photutils/background/_utils.py
  photutils/background/background_2d.py
  photutils/background/core.py
  photutils/background/interpolators.py
  photutils/background/tests/test_background_2d.py
  photutils/background/tests/test_core.py
Labels: API, background, performance, refactoring

#1233 Update all background classes to work with Quantity inputs
  CHANGES.rst
  photutils/background/_utils.py
  photutils/background/core.py
  photutils/background/interpolators.py
  photutils/background/tests/test_core.py
Labels: enhancement, background

#1234 Add markersize keyword to Background2D plot_meshes method
  CHANGES.rst
  photutils/background/background_2d.py
Labels: enhancement, background

#1235 Add check for sigma_clip value
  photutils/background/core.py
  photutils/background/tests/test_core.py
Labels: background, no-changelog-entry-needed

#1236 Add __repr__ to background classes
  CHANGES.rst
  photutils/background/core.py
  photutils/background/tests/test_core.py
Labels: enhancement, background

#1237 Fix typos
  CHANGES.rst
  docs/psf.rst
  docs/psf_spec/background_estimator.rst
  docs/psf_spec/block_template.rst
  docs/psf_spec/culler_and_ender.rst
  docs/psf_spec/finder.rst
  docs/psf_spec/fitter.rst
  docs/psf_spec/group_maker.rst
  docs/psf_spec/noise_data.rst
  docs/psf_spec/psf_model.rst
  docs/psf_spec/scene_maker.rst
  docs/psf_spec/single_object_model.rst
  photutils/aperture/mask.py
  photutils/background/background_2d.py
  photutils/isophote/ellipse.py
  photutils/isophote/geometry.py
  photutils/isophote/harmonics.py
  photutils/isophote/isophote.py
  photutils/isophote/sample.py
  photutils/psf/epsf.py
  photutils/psf/groupstars.py
  photutils/psf/matching/windows.py
  photutils/psf/models.py
  photutils/psf/photometry.py
  photutils/psf/utils.py
  photutils/segmentation/catalog.py
  photutils/segmentation/deblend.py
  photutils/segmentation/properties.py
Labels: docs, no-changelog-entry-needed

#1239 Add grid_mode keyword to BkgZoomInterpolator
  CHANGES.rst
  docs/install.rst
  docs/segmentation.rst
  photutils/background/interpolators.py
  setup.cfg
Labels: API, background

#1241 Add mask keyword to aperture area_overlap method
  CHANGES.rst
  photutils/aperture/core.py
  photutils/aperture/tests/test_circle.py
Labels: aperture, enhancement

#1242 Rename filter_kernel keyword to simply kernel
  CHANGES.rst
  docs/segmentation.rst
  photutils/segmentation/deblend.py
  photutils/segmentation/detect.py
  photutils/segmentation/tests/test_detect.py
Labels: API, segmentation

#1244 Remove deprecated random state
  CHANGES.rst
  photutils/datasets/make.py
  photutils/segmentation/core.py
  photutils/utils/__init__.py
  photutils/utils/check_random_state.py
  photutils/utils/colormaps.py
  photutils/utils/tests/test_random_state.py
Labels: API, utils, datasets, segmentation

#1245 Refactor DAOStarFinder and IRAFStarFinder
  photutils/detection/_utils.py
  photutils/detection/daofinder.py
  photutils/detection/findstars.py
  photutils/detection/irafstarfinder.py
  photutils/detection/starfinder.py
  photutils/detection/tests/test_daofinder.py
  photutils/detection/tests/test_irafstarfinder.py
Labels: detection, no-changelog-entry-needed, refactoring

#1246 Documentation updates
  docs/centroids.rst
  photutils/segmentation/detect.py
Labels: docs, segmentation, no-changelog-entry-needed, centroids

#1247 Use QTable with version metadata
  CHANGES.rst
  photutils/datasets/make.py
  photutils/detection/daofinder.py
  photutils/detection/irafstarfinder.py
  photutils/detection/peakfinder.py
  photutils/detection/starfinder.py
  photutils/isophote/isophote.py
  photutils/psf/photometry.py
  photutils/psf/utils.py
  photutils/segmentation/catalog.py
  photutils/utils/_misc.py
Labels: API, psf, detection, utils, datasets, segmentation, isophote

#1248 Add xycoords keyword to DAOStarFinder and IRAFStarFinder
  CHANGES.rst
  photutils/detection/daofinder.py
  photutils/detection/irafstarfinder.py
  photutils/detection/tests/test_daofinder.py
  photutils/detection/tests/test_irafstarfinder.py
Labels: detection, enhancement

#1249 Pydocstyle fixes
  photutils/aperture/_photometry_utils.py
  photutils/aperture/attributes.py
  photutils/aperture/circle.py
  photutils/aperture/core.py
  photutils/aperture/ellipse.py
  photutils/aperture/photometry.py
  photutils/aperture/rectangle.py
  photutils/background/background_2d.py
  photutils/background/core.py
  photutils/datasets/load.py
  photutils/datasets/make.py
  photutils/detection/base.py
  photutils/detection/peakfinder.py
  photutils/isophote/ellipse.py
  photutils/isophote/fitter.py
  photutils/isophote/geometry.py
  photutils/isophote/harmonics.py
  photutils/isophote/integrator.py
  photutils/isophote/isophote.py
  photutils/isophote/model.py
  photutils/isophote/sample.py
  photutils/isophote/tests/make_test_data.py
  photutils/morphology/non_parametric.py
  photutils/psf/epsf.py
  photutils/psf/epsf_stars.py
  photutils/psf/groupstars.py
  photutils/psf/matching/fourier.py
  photutils/psf/matching/windows.py
  photutils/psf/models.py
  photutils/psf/photometry.py
  photutils/psf/sandbox.py
  photutils/psf/utils.py
  photutils/segmentation/catalog.py
  photutils/segmentation/core.py
  photutils/segmentation/properties.py
  photutils/utils/_convolution.py
  photutils/utils/_moments.py
  photutils/utils/_round.py
  photutils/utils/colormaps.py
  photutils/utils/errors.py
  photutils/utils/interpolation.py
Labels: docs, no-changelog-entry-needed

#1250 Add docstrings for aperture attributes
  photutils/aperture/attributes.py
  photutils/aperture/circle.py
  photutils/aperture/core.py
  photutils/aperture/ellipse.py
  photutils/aperture/rectangle.py
Labels: docs, aperture, no-changelog-entry-needed

#1252 Update centroid_quadratic docstring
  photutils/centroids/core.py
Labels: docs, no-changelog-entry-needed, centroids

#1199 Apply correct shift in prepare_psf_model
  CHANGES.rst
  photutils/psf/tests/test_utils.py
  photutils/psf/utils.py
Labels: bug, psf

#1251 Make result of psf-photometry re-usable as initial guess
  CHANGES.rst
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: psf, enhancement

#1253 Update prepare_psf_model docstring
  photutils/psf/utils.py
Labels: docs, psf, no-changelog-entry-needed

#1254 Rename StarFinder label column
  CHANGES.rst
  photutils/detection/starfinder.py
Labels: API, detection

#1255 Refactor star finder catalog filtering
  photutils/detection/daofinder.py
  photutils/detection/irafstarfinder.py
  photutils/detection/starfinder.py
Labels: detection, no-changelog-entry-needed, refactoring

#1257 Some internal refactors of finder catalogs
  photutils/detection/daofinder.py
  photutils/detection/irafstarfinder.py
  photutils/detection/starfinder.py
Labels: detection, no-changelog-entry-needed

#1258 More refactoring of star finders
  photutils/detection/__init__.py
  photutils/detection/_utils.py
  photutils/detection/base.py
  photutils/detection/core.py
  photutils/detection/daofinder.py
  photutils/detection/findstars.py
  photutils/detection/irafstarfinder.py
  photutils/detection/starfinder.py
Labels: detection, no-changelog-entry-needed, refactoring
