Repository astropy/photutils, pull requests merged in 2021-11, with the labels that each got.

#1265 Allow CI test failures with devdeps
  .github/workflows/ci_tests.yml
Labels: testing, no-changelog-entry-needed

#1264 SourceCatalog improvements
  CHANGES.rst
  photutils/segmentation/catalog.py
  photutils/segmentation/tests/test_catalog.py
Labels: bug, enhancement, segmentation

#1267 To fix the documentation of deblend_sources function
  photutils/segmentation/deblend.py
Labels: docs, no-changelog-entry-needed

#1268 SourceCatalog fixes and improvements
  CHANGES.rst
  docs/segmentation.rst
  photutils/segmentation/catalog.py
  photutils/segmentation/tests/test_catalog.py
  photutils/utils/_misc.py
Labels: bug, API, enhancement, segmentation

#1269 Use astropy convolve in detect_sources
  CHANGES.rst
  photutils/segmentation/detect.py
  photutils/segmentation/tests/test_detect.py
Labels: enhancement, segmentation
