Repository astropy/photutils, pull requests merged in 2022-01, with the labels that each got.

#1281 MNT: Stop using deprecated astropy.tests stuff
  photutils/background/tests/test_background_2d.py
  photutils/centroids/tests/test_core.py
  photutils/centroids/tests/test_gaussian.py
  photutils/conftest.py
  photutils/detection/tests/test_daofinder.py
  photutils/detection/tests/test_irafstarfinder.py
  photutils/detection/tests/test_peakfinder.py
  photutils/detection/tests/test_starfinder.py
  photutils/isophote/tests/test_ellipse.py
  photutils/isophote/tests/test_model.py
  photutils/psf/tests/test_epsf.py
  photutils/psf/tests/test_photometry.py
  photutils/psf/tests/test_utils.py
  photutils/segmentation/tests/test_deblend.py
  photutils/segmentation/tests/test_detect.py
  photutils/utils/tests/test_convolution.py
  photutils/utils/tests/test_errors.py
  setup.cfg
Labels: no-changelog-entry-needed

#1283 Handle test warning that only sometimes occurs
  photutils/isophote/tests/test_model.py
Labels: testing, no-changelog-entry-needed, isophote

#1285 Fix unit check in aperture_photometry
  CHANGES.rst
  photutils/aperture/_photometry_utils.py
  photutils/aperture/tests/test_photometry.py
  photutils/segmentation/catalog.py
Labels: bug, aperture

#1286 Background improvements
  CHANGES.rst
  docs/background.rst
  photutils/background/background_2d.py
Labels: docs, enhancement, background
