Repository astropy/photutils, pull requests merged in 2022-11, with the labels that each got.

#1434 Add class to compute image limiting depths
  CHANGES.rst
  photutils/utils/__init__.py
  photutils/utils/depths.py
  photutils/utils/tests/test_depths.py
Labels: utils, enhancement

#1437 Update ApertureStats and SourceCatalog centroid docstrings
  photutils/aperture/stats.py
  photutils/segmentation/catalog.py
Labels: docs, aperture, segmentation, no-changelog-entry-needed

#1438 Improve performance of aperture photometry
  CHANGES.rst
  photutils/aperture/attributes.py
  photutils/aperture/bounding_box.py
  photutils/aperture/circle.py
  photutils/aperture/core.py
  photutils/aperture/ellipse.py
  photutils/aperture/rectangle.py
Labels: aperture, performance

#1439 Add label to tqdm deblend progress bar
  CHANGES.rst
  photutils/segmentation/deblend.py
Labels: segmentation

#1426 Progressbar in PSF photometry
  CHANGES.rst
  photutils/psf/photometry.py
Labels: psf

#1442 Update minimum versions of dependencies
  CHANGES.rst
  docs/install.rst
  setup.cfg
Labels: installation

#1443 Pin setuptools max version
  pyproject.toml
  setup.cfg
Labels: no-changelog-entry-needed, installation, Build all wheels

#1446 Some refactoring of SourceCatalog
  photutils/aperture/tests/test_stats.py
  photutils/segmentation/catalog.py
  photutils/segmentation/tests/test_catalog.py
Labels: segmentation, no-changelog-entry-needed, refactoring

#1450 Use boolean conditionals in pytest.skipif
  photutils/aperture/tests/test_bounding_box.py
  photutils/aperture/tests/test_circle.py
  photutils/aperture/tests/test_photometry.py
  photutils/background/tests/test_background_2d.py
  photutils/centroids/tests/test_core.py
  photutils/centroids/tests/test_gaussian.py
  photutils/datasets/tests/test_make.py
  photutils/detection/tests/test_daofinder.py
  photutils/detection/tests/test_irafstarfinder.py
  photutils/detection/tests/test_peakfinder.py
  photutils/detection/tests/test_starfinder.py
  photutils/isophote/tests/test_ellipse.py
  photutils/isophote/tests/test_fitter.py
  photutils/isophote/tests/test_harmonics.py
  photutils/isophote/tests/test_isophote.py
  photutils/isophote/tests/test_model.py
  photutils/isophote/tests/test_regression.py
  photutils/morphology/tests/test_core.py
  photutils/psf/matching/tests/test_fourier.py
  photutils/psf/matching/tests/test_windows.py
  photutils/psf/tests/test_epsf.py
  photutils/psf/tests/test_epsf_stars.py
  photutils/psf/tests/test_groupstars.py
  photutils/psf/tests/test_models.py
  photutils/psf/tests/test_photometry.py
  photutils/psf/tests/test_utils.py
  photutils/segmentation/tests/test_catalog.py
  photutils/segmentation/tests/test_core.py
  photutils/segmentation/tests/test_deblend.py
  photutils/segmentation/tests/test_detect.py
  photutils/segmentation/tests/test_finder.py
  photutils/segmentation/tests/test_utils.py
  photutils/utils/tests/test_colormaps.py
  photutils/utils/tests/test_convolution.py
  photutils/utils/tests/test_depths.py
  photutils/utils/tests/test_interpolation.py
Labels: testing, no-changelog-entry-needed

#1451 Add codes to blanket # noqa
  .pre-commit-config.yaml
  docs/conf.py
  photutils/__init__.py
  photutils/aperture/__init__.py
  photutils/aperture/tests/test_bounding_box.py
  photutils/aperture/tests/test_circle.py
  photutils/aperture/tests/test_photometry.py
  photutils/background/__init__.py
  photutils/background/tests/test_background_2d.py
  photutils/centroids/__init__.py
  photutils/centroids/tests/test_core.py
  photutils/centroids/tests/test_gaussian.py
  photutils/conftest.py
  photutils/datasets/__init__.py
  photutils/datasets/tests/test_make.py
  photutils/detection/__init__.py
  photutils/detection/starfinder.py
  photutils/detection/tests/test_daofinder.py
  photutils/detection/tests/test_irafstarfinder.py
  photutils/detection/tests/test_peakfinder.py
  photutils/detection/tests/test_starfinder.py
  photutils/geometry/__init__.py
  photutils/isophote/__init__.py
  photutils/isophote/tests/test_ellipse.py
  photutils/isophote/tests/test_fitter.py
  photutils/isophote/tests/test_harmonics.py
  photutils/isophote/tests/test_isophote.py
  photutils/isophote/tests/test_model.py
  photutils/isophote/tests/test_regression.py
  photutils/morphology/__init__.py
  photutils/morphology/tests/test_core.py
  photutils/psf/__init__.py
  photutils/psf/epsf.py
  photutils/psf/matching/__init__.py
  photutils/psf/matching/tests/test_fourier.py
  photutils/psf/matching/tests/test_windows.py
  photutils/psf/photometry.py
  photutils/psf/tests/test_epsf.py
  photutils/psf/tests/test_epsf_stars.py
  photutils/psf/tests/test_groupstars.py
  photutils/psf/tests/test_models.py
  photutils/psf/tests/test_photometry.py
  photutils/psf/tests/test_utils.py
  photutils/segmentation/__init__.py
  photutils/segmentation/deblend.py
  photutils/segmentation/tests/test_catalog.py
  photutils/segmentation/tests/test_core.py
  photutils/segmentation/tests/test_deblend.py
  photutils/segmentation/tests/test_detect.py
  photutils/segmentation/tests/test_finder.py
  photutils/segmentation/tests/test_utils.py
  photutils/utils/__init__.py
  photutils/utils/depths.py
  photutils/utils/tests/test_colormaps.py
  photutils/utils/tests/test_convolution.py
  photutils/utils/tests/test_depths.py
  photutils/utils/tests/test_interpolation.py
  setup.py
Labels: testing, no-changelog-entry-needed

#1452 Add description to PSF fitting progress bar
  photutils/psf/photometry.py
Labels: psf, affects-dev, no-changelog-entry-needed

#1453 isort examples in docs
  docs/aperture.rst
  docs/background.rst
  docs/centroids.rst
  docs/detection.rst
  docs/epsf.rst
  docs/getting_started.rst
  docs/grouping.rst
  docs/isophote.rst
  docs/morphology.rst
  docs/psf.rst
  docs/psf_matching.rst
  docs/segmentation.rst
  photutils/aperture/bounding_box.py
  photutils/datasets/load.py
  photutils/datasets/make.py
  photutils/psf/matching/windows.py
  photutils/segmentation/core.py
  photutils/segmentation/detect.py
  photutils/segmentation/finder.py
  photutils/utils/depths.py
Labels: docs

#1454 Remove setuptools pin
  pyproject.toml
  setup.cfg
Labels: no-changelog-entry-needed, installation

#1455 Ensure load functions close FITS files
  CHANGES.rst
  photutils/datasets/load.py
  photutils/datasets/tests/test_load.py
  setup.cfg
Labels: bug, testing, datasets

#1456 Ignore numpy 1.24 np.bool8 deprecation from skimage
  setup.cfg
Labels: testing, upstream fix required, no-changelog-entry-needed

#1457 Deprecate load_fermi_image
  CHANGES.rst
  photutils/datasets/load.py
  photutils/datasets/tests/test_load.py
Labels: API, datasets

#1458 Ignore RunTimeWarning when calculating PSF parameter uncertainties
  CHANGES.rst
  photutils/psf/photometry.py
Labels: API, psf

#1459 Remove invalid value from pytest filterwarnings
  photutils/aperture/tests/test_stats.py
  setup.cfg
Labels: testing, aperture

#1460 Prevent ApertureStats sum_err from giving a warning for completely masked sources
  photutils/aperture/stats.py
Labels: aperture, no-changelog-entry-needed

#1461 Remove pytest filterwarnings from setup
  photutils/isophote/tests/test_regression.py
  setup.cfg
Labels: testing, isophote

#1462 Remove the deprecated BoundingBox as_patch method
  CHANGES.rst
  photutils/aperture/bounding_box.py
Labels: API, aperture

#1464 Prevent sphinx deprecation warning from load_fermi_image
  photutils/datasets/load.py
Labels: docs, datasets, no-changelog-entry-needed

#1465 Unpin sphinx version
  docs/conf.py
  setup.cfg
Labels: docs, infrastructure, no-changelog-entry-needed
