Repository astropy/photutils, pull requests merged in 2022-12, with the labels that each got.

#1467 Add quadratic centroids to SourceCatalog
  CHANGES.rst
  photutils/centroids/core.py
  photutils/segmentation/catalog.py
Labels: enhancement, segmentation

#1468 Add cutout_centroid_win to SourceCatalog
  CHANGES.rst
  photutils/segmentation/catalog.py
Labels: enhancement, segmentation

#1469 Add addition quadratic centroid properties
  CHANGES.rst
  photutils/segmentation/catalog.py
Labels: enhancement, segmentation

#1470 Add What's New for 1.6.0
  docs/whats_new/1.6.rst
  docs/whats_new/index.rst
Labels: docs, no-changelog-entry-needed

#1471 Add progress_bar option to SourceCatalog
  CHANGES.rst
  docs/whats_new/1.6.rst
  photutils/segmentation/catalog.py
Labels: enhancement, segmentation

#1472 Ignore RuntimeWarning for zero division in centroid_win
  photutils/segmentation/catalog.py
Labels: segmentation, affects-dev, no-changelog-entry-needed

#1474 Add notes about surface brightness units
  photutils/aperture/photometry.py
  photutils/aperture/stats.py
  photutils/segmentation/catalog.py
Labels: docs, aperture, segmentation, no-changelog-entry-needed

#1475 Pin tox<4 in CI
  .circleci/config.yml
  .github/workflows/ci_tests.yml
  .github/workflows/cron_tests.yml
Labels: testing, no-changelog-entry-needed

#1477 Add subshape keyword to PSF-fitting classes
  CHANGES.rst
  docs/whats_new/1.6.rst
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: feature request, psf, enhancement

#1478 Update psf example image
  docs/psf.rst
Labels: docs, psf, no-changelog-entry-needed

#1480 MAINT: fix tox v4 compatibility
  .circleci/config.yml
  .github/workflows/ci_tests.yml
  .github/workflows/cron_tests.yml
  tox.ini
Labels: infrastructure, no-changelog-entry-needed
