Repository astropy/photutils, pull requests merged in 2022-03, with the labels that each got.

#1299 DOC: Add ref to Aperture Photometry top level
  docs/aperture.rst
Labels: docs, no-changelog-entry-needed, merge-when-ci-passes

#1303 Update attribute descriptors to use __set_name__
  photutils/aperture/attributes.py
  photutils/aperture/circle.py
  photutils/aperture/ellipse.py
  photutils/aperture/rectangle.py
Labels: docs, aperture, no-changelog-entry-needed

#1304 Add Aperture copy method and ability to compare Aperture objects
  CHANGES.rst
  photutils/aperture/circle.py
  photutils/aperture/core.py
  photutils/aperture/ellipse.py
  photutils/aperture/rectangle.py
  photutils/aperture/tests/test_aperture_common.py
  photutils/aperture/tests/test_circle.py
  photutils/aperture/tests/test_ellipse.py
  photutils/aperture/tests/test_rectangle.py
Labels: aperture, enhancement

#1305 Return a matplotlib Patch from BoundingBox plot
  CHANGES.rst
  photutils/aperture/bounding_box.py
  photutils/aperture/tests/test_bounding_box.py
Labels: API, aperture

#1306 Fix Sphinx warnings about duplicate objects
  photutils/psf/__init__.py
  setup.cfg
Labels: docs, no-changelog-entry-needed

#1308 Allow ellipse and rectangle pixel aperture to take Quantity rotation angle
  CHANGES.rst
  docs/aperture.rst
  photutils/aperture/attributes.py
  photutils/aperture/ellipse.py
  photutils/aperture/rectangle.py
  photutils/aperture/tests/test_ellipse.py
  photutils/aperture/tests/test_rectangle.py
Labels: aperture, enhancement

#1309 Add ApertureStats class
  CHANGES.rst
  docs/aperture.rst
  photutils/aperture/__init__.py
  photutils/aperture/circle.py
  photutils/aperture/core.py
  photutils/aperture/ellipse.py
  photutils/aperture/mask.py
  photutils/aperture/photometry.py
  photutils/aperture/rectangle.py
  photutils/aperture/stats.py
  photutils/aperture/tests/test_stats.py
  photutils/segmentation/catalog.py
  photutils/utils/_quantity_helpers.py
  photutils/utils/_wcs_helpers.py
  photutils/utils/tests/test_misc.py
  photutils/utils/tests/test_quantity_helpers.py
Labels: aperture, enhancement

#1310 Deprecating pixel Quantity inputs in apertures
  CHANGES.rst
  photutils/aperture/attributes.py
  photutils/aperture/circle.py
  photutils/aperture/ellipse.py
  photutils/aperture/rectangle.py
  photutils/aperture/tests/test_photometry.py
Labels: API, aperture

#1312 Fix SourceCatalog UFuncTypeError if data has integer dtype
  CHANGES.rst
  photutils/segmentation/catalog.py
  photutils/segmentation/tests/test_catalog.py
Labels: bug, segmentation

#1314 Allow SkyAperture inputs to ApertureStats
  CHANGES.rst
  photutils/aperture/stats.py
  photutils/aperture/tests/test_stats.py
Labels: aperture, enhancement, no-changelog-entry-needed

#1315 Add local_bkg keyword to ApertureStats
  CHANGES.rst
  docs/aperture.rst
  photutils/aperture/stats.py
  photutils/aperture/tests/test_stats.py
Labels: aperture, enhancement

#1317 Fix centroid_quadratic when mask is input
  CHANGES.rst
  photutils/centroids/core.py
  photutils/centroids/tests/test_core.py
Labels: bug, centroids

#1318 Improve ApertureStats performance for large arrays
  CHANGES.rst
  photutils/aperture/stats.py
Labels: aperture, affects-dev, performance

#1319 SegmentationImage improvements
  CHANGES.rst
  photutils/segmentation/catalog.py
  photutils/segmentation/core.py
  photutils/segmentation/deblend.py
  photutils/segmentation/tests/test_catalog.py
  photutils/segmentation/tests/test_core.py
  photutils/segmentation/tests/test_deblend.py
Labels: API, enhancement, segmentation, performance

#1320 Segmentation performance improvements
  CHANGES.rst
  photutils/aperture/mask.py
  photutils/segmentation/catalog.py
  photutils/segmentation/core.py
  photutils/segmentation/deblend.py
Labels: aperture, segmentation, performance, refactoring

#1321 Add convolved_data keyword to SourceCatalog
  CHANGES.rst
  docs/segmentation.rst
  photutils/segmentation/catalog.py
  photutils/segmentation/deblend.py
  photutils/segmentation/detect.py
  photutils/segmentation/tests/test_catalog.py
Labels: enhancement, segmentation

#1322 Deprecate segmentation detect keywords
  CHANGES.rst
  photutils/segmentation/detect.py
  photutils/segmentation/tests/test_detect.py
Labels: API, segmentation

#1324 Add a clip keyword to BkgZoomInterpolator
  CHANGES.rst
  docs/segmentation.rst
  photutils/background/interpolators.py
  photutils/background/tests/test_background_2d.py
Labels: API, enhancement, background

#1326 Explicitly add to_mask method to pixel apertures
  photutils/aperture/circle.py
  photutils/aperture/ellipse.py
  photutils/aperture/rectangle.py
Labels: aperture, no-changelog-entry-needed, refactoring

#1327 Add missing Isophote comparison operators
  photutils/isophote/isophote.py
  photutils/isophote/tests/test_isophote.py
Labels: no-changelog-entry-needed, isophote
