Repository astropy/photutils, pull requests merged in 2023-07, with the labels that each got.

#1564 Minor updates to py2intround
  photutils/centroids/core.py
  photutils/psf/epsf.py
  photutils/utils/_round.py
  photutils/utils/tests/test_round.py
Labels: utils, no-changelog-entry-needed

#1565 Add helper function for adding progress bars
  photutils/psf/epsf.py
  photutils/psf/photometry.py
  photutils/psf/photometry_depr.py
  photutils/segmentation/catalog.py
  photutils/segmentation/deblend.py
  photutils/utils/_progress_bars.py
  photutils/utils/depths.py
Labels: utils, no-changelog-entry-needed

#1566 Add more x/y column name options for PSFPhotometry init_params
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: psf, enhancement, affects-dev, no-changelog-entry-needed

#1567 Fix issue in PSFPhotometry with negative x/y values
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: bug, psf, affects-dev, no-changelog-entry-needed

#1568 Update installation of scikit-learn dev
  tox.ini
Labels: testing, no-changelog-entry-needed

#1569 Drop support for Python 3.8
  .github/workflows/ci_tests.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  CHANGES.rst
  docs/install.rst
  setup.cfg
  tox.ini
Labels: installation

#1563 Fix for PSF fitting cfit column with out of bounds centroids
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: bug, psf, affects-dev, no-changelog-entry-needed

#1570 Add devinfra tox test
  .github/workflows/cron_tests_weekly.yml
  photutils/detection/tests/test_irafstarfinder.py
  photutils/isophote/tests/test_ellipse.py
  photutils/isophote/tests/test_model.py
  photutils/psf/tests/test_photometry-depr.py
  tox.ini
Labels: testing, no-changelog-entry-needed

#1571 Move 32-bit tests to weekly cron tests
  .circleci/config.yml
  .github/workflows/32bit_tests.yml
  .github/workflows/cron_tests_weekly.yml
Labels: testing, no-changelog-entry-needed

#1572 Remove support for numpy 1.21
  .github/workflows/ci_tests.yml
  .github/workflows/publish.yml
  CHANGES.rst
  docs/install.rst
  setup.cfg
  tox.ini
Labels: testing, infrastructure

#1573 Add [tools.setuptools_scm] to pyproject.toml
  pyproject.toml
  setup.cfg
  setup.py
Labels: no-changelog-entry-needed, installation

#1574 Remove tests for more architectures
  .github/workflows/cron_tests_weekly.yml
Labels: testing, no-changelog-entry-needed

#1576 Skip tests if optional dependencies are not installed
  docs/psf.rst
  photutils/psf/tests/test_photometry.py
  photutils/segmentation/tests/test_catalog.py
  photutils/utils/depths.py
  photutils/utils/tests/test_depths.py
Labels: testing, no-changelog-entry-needed

#1577 Update source grouper narrative docs
  docs/grouping.rst
  photutils/psf/groupers.py
Labels: docs, psf, affects-dev, no-changelog-entry-needed

#1578 PSF photometry deprecations
  CHANGES.rst
  photutils/psf/groupstars.py
  photutils/psf/photometry_depr.py
  photutils/psf/tests/test_groupstars.py
  photutils/psf/tests/test_photometry-depr.py
  photutils/psf/tests/test_photometry.py
  photutils/psf/tests/test_utils.py
  photutils/psf/utils.py
Labels: API, psf

#1581 Add copy and deepcopy methods to GriddedPSFModel
  CHANGES.rst
  docs/psf.rst
  photutils/psf/models.py
  photutils/psf/photometry.py
  photutils/psf/tests/test_models.py
  photutils/psf/tests/test_photometry.py
Labels: bug, psf, performance

#1582 Rename output columns in make_test_psf_data
  CHANGES.rst
  photutils/datasets/make.py
Labels: API, datasets, affects-dev

#1583 Replace lru_cache with cache in GriddedPSFModel
  CHANGES.rst
  photutils/psf/models.py
Labels: psf

#1585 Add progress bar and unit tests for make_test_psf_data
  CHANGES.rst
  photutils/datasets/make.py
  photutils/datasets/tests/test_make.py
Labels: datasets, affects-dev

#1575 Fix weekly CI Architecture builds
  .github/workflows/cron_tests_weekly.yml
Labels: testing, no-changelog-entry-needed, Extra CI

#1586 Lower memory usage when fitting with GriddedPSFModel
  photutils/psf/models.py
  photutils/psf/photometry.py
  photutils/psf/tests/test_models.py
Labels: psf, affects-dev, performance

#1587 MNT: pytest 8.0 compatibility
  photutils/detection/tests/test_irafstarfinder.py
  photutils/isophote/tests/test_ellipse.py
  photutils/isophote/tests/test_model.py
  photutils/psf/tests/test_photometry-depr.py
  photutils/tests/helper.py
Labels: testing, no-changelog-entry-needed

#1591 Update RTD config
  .readthedocs.yml
Labels: docs, no-changelog-entry-needed

#1592 PSF narrative doc additions
  docs/psf.rst
Labels: docs, psf

#1590 Ignore NoOverlap in iterativepsf
  photutils/psf/photometry.py
Labels: bug, psf, affects-dev, no-changelog-entry-needed

#1594 Add warning for large groups
  CHANGES.rst
  docs/grouping.rst
  docs/psf.rst
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: psf, affects-dev

#1598 Fix codestyle issue for type comparison
  photutils/isophote/isophote.py
Labels: no-changelog-entry-needed, isophote

#1597 Show data and model with residual image in PSF docs
  docs/psf.rst
Labels: docs, psf, affects-dev, no-changelog-entry-needed

#1599 Do not skip anchors in linkcheck
  docs/conf.py
  docs/contributing.rst
Labels: docs, testing, no-changelog-entry-needed
