Repository astropy/photutils, pull requests merged in 2023-03, with the labels that each got.

#1494 Add new profiles subpackage
  CHANGES.rst
  docs/index.rst
  docs/profiles.rst
  docs/whats_new/1.7.rst
  docs/whats_new/index.rst
  photutils/profiles/__init__.py
  photutils/profiles/core.py
  photutils/profiles/curve_of_growth.py
  photutils/profiles/radial_profile.py
  photutils/profiles/tests/__init__.py
  photutils/profiles/tests/test_curve_of_growth.py
  photutils/profiles/tests/test_radial_profile.py
Labels: profiles

#1495 Fix centroid_quadratic for data with NaNs
  CHANGES.rst
  photutils/centroids/core.py
  photutils/centroids/gaussian.py
  photutils/centroids/tests/test_core.py
Labels: bug, centroids

#1496 Add 1D Gaussian fits to RadialProfile
  CHANGES.rst
  docs/profiles.rst
  photutils/profiles/radial_profile.py
  photutils/profiles/tests/test_radial_profile.py
Labels: affects-dev, profiles

#1497 Use np.prod instead of deprecated np.product
  photutils/centroids/core.py
  photutils/psf/models.py
Labels: psf, no-changelog-entry-needed, centroids

#1499 Fix pytest warning test
  CHANGES.rst
  photutils/profiles/tests/test_radial_profile.py
Labels: bug, testing, affects-dev, Build all wheels, profiles

#1501 Fix sign of isophote upper harmonics
  CHANGES.rst
  photutils/isophote/isophote.py
  photutils/isophote/tests/test_harmonics.py
Labels: bug, isophote

#1503 Memoize GriddedPSFModel local model for performance
  photutils/psf/models.py
Labels: psf, performance

#1504 Allow ApertureStats local_bkg to be broadcast
  CHANGES.rst
  photutils/aperture/stats.py
  photutils/aperture/tests/test_stats.py
Labels: API, aperture

#1506 Add size keyword to SegmentationImage.make_source_mask
  CHANGES.rst
  photutils/segmentation/core.py
  photutils/segmentation/tests/test_core.py
Labels: segmentation

#1338 DOC: Encourage local_bkg in ApertureStats
  docs/aperture.rst
Labels: docs, aperture, no-changelog-entry-needed
