Repository astropy/photutils, pull requests merged in 2023-08, with the labels that each got.

#1600 Allow daily cron to be run with Extra CI label
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_tests.yml
Labels: testing, no-changelog-entry-needed, Daily CI, Weekly CI, Arch CI

#1601 Remove unneeded MANIFEST.in file
  MANIFEST.in
Labels: infrastructure, no-changelog-entry-needed

#1557 Ability to import and use HST/JWST STDPSF-format ePSFs
  CHANGES.rst
  photutils/psf/__init__.py
  photutils/psf/griddedpsfmodel.py
  photutils/psf/models.py
  photutils/psf/tests/data/STDPSF_ACSWFC_F814W_mock.fits
  photutils/psf/tests/data/STDPSF_NRCA1_F150W_mock.fits
  photutils/psf/tests/data/STDPSF_NRCSW_F150W_mock.fits
  photutils/psf/tests/data/STDPSF_WFC3UV_F814W_mock.fits
  photutils/psf/tests/data/STDPSF_WFPC2_F814W_mock.fits
  photutils/psf/tests/test_griddedpsfmodel.py
  photutils/psf/tests/test_models.py
  photutils/psf/tests/test_utils.py
  photutils/psf/utils.py
  setup.cfg
Labels: feature request, psf, enhancement

#1602 CI: add extra astropy pip index to pick up new dependency
  tox.ini
Labels: testing, no-changelog-entry-needed, Daily CI

#1603 Save only select fit info from PSF fitting
  CHANGES.rst
  docs/psf.rst
  photutils/psf/photometry.py
Labels: psf, affects-dev

#1604 Reduce memory usage of make_residual_image
  CHANGES.rst
  photutils/psf/photometry.py
Labels: psf, affects-dev

#1605 Change SourceGrouper to use scipy instead of scikit-learn
  CHANGES.rst
  docs/grouping.rst
  photutils/psf/groupers.py
  photutils/psf/tests/test_photometry.py
Labels: psf, affects-dev

#1606 Update citation information
  README.rst
  photutils/CITATION.rst
Labels: docs, no-changelog-entry-needed

#1607 Update install docs
  docs/install.rst
Labels: docs, no-changelog-entry-needed

#1608 Move fit_models to a private attribute
  docs/psf.rst
  photutils/psf/photometry.py
Labels: psf, affects-dev

#1609 Add sub_shape keyword to IterativePSFPhotometry
  photutils/psf/photometry.py
Labels: psf, affects-dev

#1610 Add What's new for 1.9.0
  docs/whats_new/1.9.rst
  docs/whats_new/index.rst
Labels: docs, no-changelog-entry-needed

#1613 Remove deprecated kernel keyword
  CHANGES.rst
  photutils/segmentation/catalog.py
  photutils/segmentation/tests/test_catalog.py
Labels: API, segmentation
