Repository astropy/photutils, pull requests merged in 2023-12, with the labels that each got.

#1675 BLD: pin extension-helpers to 1.* following upstream recommendation
  pyproject.toml
Labels: infrastructure, no-changelog-entry-needed

#1676 Remove setup.py
  setup.py
Labels: infrastructure, no-changelog-entry-needed

#1679 Fix GriddedPSFModel copy method
  CHANGES.rst
  photutils/psf/griddedpsfmodel.py
  photutils/psf/tests/test_griddedpsfmodel.py
Labels: bug, psf

#1680 Include model parameters in GriddedPSFModel string representation
  CHANGES.rst
  photutils/psf/griddedpsfmodel.py
  photutils/psf/tests/test_griddedpsfmodel.py
Labels: API, psf

#1681 Include init_params table in PSFPhotometry fit_results dict
  CHANGES.rst
  docs/psf.rst
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: psf, enhancement

#1682 Raise informative error message when positions is input as a zip object containing Quantities
  CHANGES.rst
  photutils/aperture/attributes.py
  photutils/aperture/tests/test_circle.py
Labels: API, aperture

#1683 Improve GriddedPSFModel copy
  photutils/psf/griddedpsfmodel.py
  photutils/psf/tests/test_griddedpsfmodel.py
Labels: psf, affects-dev, no-changelog-entry-needed, performance

#1687 Use np.subtract for PSF photometry residual image
  photutils/psf/photometry.py
Labels: psf, no-changelog-entry-needed, performance
