Repository astropy/photutils, pull requests merged in 2024-05, with the labels that each got.

#1729 Remove warning in Background2D
  CHANGES.rst
  photutils/background/background_2d.py
  photutils/background/tests/test_background_2d.py
Labels: bug, background

#1730 Update __array__ to copy if needed
  photutils/aperture/mask.py
  photutils/aperture/tests/test_mask.py
Labels: aperture, no-changelog-entry-needed

#1731 Improve docstrings in profiles subpackage
  photutils/profiles/core.py
  photutils/profiles/curve_of_growth.py
  photutils/profiles/radial_profile.py
  photutils/profiles/tests/test_radial_profile.py
Labels: docs, no-changelog-entry-needed, profiles

#1732 Add unnormalize method to profiles
  CHANGES.rst
  docs/profiles.rst
  photutils/profiles/core.py
  photutils/profiles/tests/test_curve_of_growth.py
Labels: enhancement, profiles

#1733 Add encircled energy methods to CurveOfGrowth
  CHANGES.rst
  docs/profiles.rst
  photutils/profiles/curve_of_growth.py
  photutils/profiles/radial_profile.py
  photutils/profiles/tests/test_curve_of_growth.py
Labels: enhancement, profiles

#1736 Reorganize dataset submodule
  CHANGES.rst
  photutils/datasets/__init__.py
  photutils/datasets/images.py
  photutils/datasets/make.py
  photutils/datasets/noise.py
  photutils/datasets/sources.py
  photutils/datasets/tests/test_images.py
  photutils/datasets/tests/test_make.py
  photutils/datasets/tests/test_noise.py
  photutils/datasets/tests/test_sources.py
  photutils/datasets/tests/test_wcs.py
  photutils/datasets/wcs.py
  pyproject.toml
Labels: API, datasets

#1737 Remove no-longer-need pytest warning exceptions
  pyproject.toml
Labels: testing, no-changelog-entry-needed

#1739 DOC: Fix typo in ApertureStats docstring
  photutils/aperture/stats.py
Labels: docs, aperture, no-changelog-entry-needed

#1741 Check dimensionality of PSF model
  CHANGES.rst
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: API, psf

#1742 Update error message in process_quantities
  photutils/aperture/stats.py
  photutils/segmentation/catalog.py
  photutils/segmentation/detect.py
  photutils/utils/_quantity_helpers.py
  photutils/utils/tests/test_quantity_helpers.py
Labels: utils, no-changelog-entry-needed

#1743 Add support for units in peak_finder
  CHANGES.rst
  docs/detection.rst
  docs/epsf.rst
  photutils/detection/peakfinder.py
  photutils/detection/tests/test_peakfinder.py
Labels: detection, enhancement

#1746 Add support for units in DAOStarFinder, IRAFStarFinder, and StarFinder
  CHANGES.rst
  photutils/detection/core.py
  photutils/detection/daofinder.py
  photutils/detection/irafstarfinder.py
  photutils/detection/starfinder.py
  photutils/detection/tests/conftest.py
  photutils/detection/tests/test_daofinder.py
  photutils/detection/tests/test_irafstarfinder.py
  photutils/detection/tests/test_peakfinder.py
  photutils/detection/tests/test_starfinder.py
  photutils/utils/_quantity_helpers.py
  photutils/utils/tests/test_quantity_helpers.py
Labels: detection, enhancement

#1747 Update segmentation docstrings
  photutils/segmentation/detect.py
  photutils/segmentation/finder.py
Labels: docs, segmentation, no-changelog-entry-needed

#1748 Deprecate sky keyword in DAOStarFinder and IRAFStarFinder
  CHANGES.rst
  photutils/detection/daofinder.py
  photutils/detection/irafstarfinder.py
  photutils/detection/starfinder.py
  photutils/detection/tests/test_daofinder.py
  photutils/detection/tests/test_irafstarfinder.py
Labels: API, detection

#1750 Exclude sources with non-finite properties in star finders
  CHANGES.rst
  photutils/detection/daofinder.py
  photutils/detection/irafstarfinder.py
  photutils/detection/starfinder.py
  photutils/detection/tests/test_daofinder.py
  photutils/detection/tests/test_irafstarfinder.py
  photutils/detection/tests/test_starfinder.py
Labels: API, detection

#1751 Update peakmax description in docstrings
  photutils/detection/daofinder.py
  photutils/detection/irafstarfinder.py
  photutils/detection/starfinder.py
Labels: docs, detection, no-changelog-entry-needed

#1752 Replace assert_array_equal with assert_equal
  photutils/aperture/tests/test_aperture_common.py
  photutils/aperture/tests/test_photometry.py
  photutils/segmentation/tests/test_detect.py
Labels: testing, aperture, segmentation, no-changelog-entry-needed

#1753 Normalize spacing in docstrings
  photutils/__init__.py
  photutils/aperture/bounding_box.py
  photutils/aperture/circle.py
  photutils/aperture/core.py
  photutils/aperture/ellipse.py
  photutils/aperture/mask.py
  photutils/aperture/photometry.py
  photutils/aperture/rectangle.py
  photutils/background/background_2d.py
  photutils/background/core.py
  photutils/background/interpolators.py
  photutils/background/tests/test_background_2d.py
  photutils/centroids/core.py
  photutils/datasets/images.py
  photutils/datasets/load.py
  photutils/isophote/ellipse.py
  photutils/isophote/fitter.py
  photutils/isophote/geometry.py
  photutils/isophote/isophote.py
  photutils/isophote/model.py
  photutils/isophote/sample.py
  photutils/isophote/tests/make_test_data.py
  photutils/isophote/tests/test_regression.py
  photutils/morphology/core.py
  photutils/morphology/non_parametric.py
  photutils/profiles/core.py
  photutils/psf/epsf.py
  photutils/psf/epsf_stars.py
  photutils/psf/griddedpsfmodel.py
  photutils/psf/groupstars.py
  photutils/psf/matching/fourier.py
  photutils/psf/models.py
  photutils/psf/utils.py
  photutils/segmentation/catalog.py
  photutils/segmentation/core.py
  photutils/segmentation/deblend.py
  photutils/segmentation/detect.py
  photutils/segmentation/tests/test_deblend.py
  photutils/segmentation/utils.py
  photutils/utils/_convolution.py
  photutils/utils/_moments.py
  photutils/utils/colormaps.py
  photutils/utils/cutouts.py
  photutils/utils/errors.py
  photutils/utils/footprints.py
  photutils/utils/interpolation.py
Labels: docs, no-changelog-entry-needed

#1754 Fixes to IntegratedGaussianPRF bounding box
  CHANGES.rst
  photutils/psf/models.py
  photutils/psf/tests/test_models.py
Labels: bug, API, psf

#1755 Add note about increasing fitter_maxiters for flags=8
  photutils/psf/photometry.py
Labels: docs, psf, no-changelog-entry-needed

#1756 Add include_localbkg keyword to IterativePSFPhotometry methods
  CHANGES.rst
  photutils/psf/photometry.py
Labels: API, psf, enhancement

#1738 fixed description of ellipticity parameter in EllipseGeometry
  photutils/isophote/geometry.py
Labels: docs, no-changelog-entry-needed, isophote

#1759 Make model image
  CHANGES.rst
  docs/aperture.rst
  docs/segmentation.rst
  photutils/datasets/images.py
  photutils/datasets/tests/test_images.py
  photutils/datasets/tests/test_noise.py
Labels: API, enhancement, datasets

#1760 Updates to simulated example images
  CHANGES.rst
  docs/aperture.rst
  docs/background.rst
  docs/centroids.rst
  docs/detection.rst
  docs/morphology.rst
  docs/segmentation.rst
  photutils/aperture/stats.py
  photutils/centroids/core.py
  photutils/datasets/__init__.py
  photutils/datasets/data/100gaussians_params.ecsv
  photutils/datasets/data/4gaussians_params.ecsv
  photutils/datasets/examples.py
  photutils/datasets/images.py
  photutils/datasets/make.py
  photutils/datasets/tests/test_examples.py
  photutils/datasets/tests/test_images.py
  photutils/detection/tests/data/daofind_test_thresh08.0_fwhm01.0.txt
  photutils/detection/tests/data/daofind_test_thresh08.0_fwhm01.5.txt
  photutils/detection/tests/data/daofind_test_thresh08.0_fwhm02.0.txt
  photutils/detection/tests/data/daofind_test_thresh10.0_fwhm01.0.txt
  photutils/detection/tests/data/daofind_test_thresh10.0_fwhm01.5.txt
  photutils/detection/tests/data/daofind_test_thresh10.0_fwhm02.0.txt
  photutils/detection/tests/data/irafstarfind_test_thresh08.0_fwhm01.0.txt
  photutils/detection/tests/data/irafstarfind_test_thresh08.0_fwhm01.5.txt
  photutils/detection/tests/data/irafstarfind_test_thresh08.0_fwhm02.0.txt
  photutils/detection/tests/data/irafstarfind_test_thresh10.0_fwhm01.0.txt
  photutils/detection/tests/data/irafstarfind_test_thresh10.0_fwhm01.5.txt
  photutils/detection/tests/data/irafstarfind_test_thresh10.0_fwhm02.0.txt
  photutils/detection/tests/test_daofinder.py
  photutils/detection/tests/test_irafstarfinder.py
  photutils/segmentation/tests/test_catalog.py
  photutils/segmentation/tests/test_finder.py
  photutils/utils/depths.py
  photutils/utils/tests/test_depths.py
Labels: docs, testing, API, datasets

#1761 Prevent table merge conflicts in IterativePSFPhotometry
  CHANGES.rst
  photutils/psf/photometry.py
Labels: bug, psf

#1762 Deprecate functions in datasets
  CHANGES.rst
  docs/grouping.rst
  photutils/datasets/images.py
  photutils/datasets/sources.py
  photutils/datasets/tests/test_images.py
  photutils/datasets/wcs.py
  photutils/psf/tests/test_epsf.py
  photutils/psf/tests/test_photometry-depr.py
  photutils/psf/tests/test_photometry.py
Labels: API, psf

#1763 Always return both amplitude and flux columns from make_random_gaussians_table
  CHANGES.rst
  photutils/datasets/examples.py
  photutils/datasets/images.py
  photutils/datasets/sources.py
  photutils/datasets/tests/test_sources.py
Labels: enhancement, datasets

#1764 Deprecate make_gaussian_sources_table
  CHANGES.rst
  photutils/datasets/sources.py
  photutils/datasets/tests/test_noise.py
  photutils/datasets/tests/test_sources.py
Labels: API, datasets
