Repository astropy/photutils, pull requests merged in 2024-08, with the labels that each got.

#1826 Add hooks to pre-commit
  .github/dependabot.yml
  .pre-commit-config.yaml
  photutils/__init__.py
  photutils/aperture/bounding_box.py
  photutils/aperture/rectangle.py
  photutils/aperture/stats.py
  photutils/aperture/tests/test_photometry.py
  photutils/background/background_2d.py
  photutils/background/core.py
  photutils/background/tests/test_background_2d.py
  photutils/datasets/tests/test_noise.py
  photutils/detection/core.py
  photutils/detection/starfinder.py
  photutils/detection/tests/test_daofinder.py
  photutils/detection/tests/test_irafstarfinder.py
  photutils/detection/tests/test_peakfinder.py
  photutils/isophote/integrator.py
  photutils/isophote/isophote.py
  photutils/isophote/tests/test_ellipse.py
  photutils/isophote/tests/test_harmonics.py
  photutils/profiles/radial_profile.py
  photutils/profiles/tests/test_radial_profile.py
  photutils/psf/epsf_stars.py
  photutils/psf/griddedpsfmodel.py
  photutils/psf/matching/tests/test_fourier.py
  photutils/psf/matching/tests/test_windows.py
  photutils/psf/models.py
  photutils/psf/photometry.py
  photutils/psf/tests/test_epsf_stars.py
  photutils/psf/tests/test_griddedpsfmodel.py
  photutils/psf/utils.py
  photutils/segmentation/catalog.py
  photutils/segmentation/core.py
  photutils/segmentation/tests/test_deblend.py
  photutils/segmentation/tests/test_detect.py
  photutils/utils/_wcs_helpers.py
  photutils/utils/depths.py
  pyproject.toml
Labels: docs, testing, no-changelog-entry-needed

#1827 Add pre-commit autoupdate schedule
  .pre-commit-config.yaml
  pyproject.toml
Labels: testing, no-changelog-entry-needed

#1829 Use consistent max line lengths
  .flake8
  .pep8speaks.yml
  .pycodestyle
  photutils/aperture/circle.py
  photutils/aperture/core.py
  photutils/aperture/ellipse.py
  photutils/aperture/rectangle.py
  photutils/aperture/stats.py
  photutils/aperture/tests/test_converters.py
  photutils/aperture/tests/test_photometry.py
  photutils/datasets/images.py
  photutils/isophote/ellipse.py
  photutils/profiles/core.py
  photutils/psf/epsf.py
  photutils/psf/epsf_stars.py
  photutils/psf/photometry.py
  photutils/segmentation/catalog.py
  photutils/segmentation/deblend.py
  photutils/utils/_progress_bars.py
  photutils/utils/depths.py
  tox.ini
Labels: testing, no-changelog-entry-needed

#1832 Remove Ruff PT011 exclusion
  photutils/aperture/tests/test_bounding_box.py
  photutils/aperture/tests/test_circle.py
  photutils/aperture/tests/test_converters.py
  photutils/aperture/tests/test_ellipse.py
  photutils/aperture/tests/test_mask.py
  photutils/aperture/tests/test_photometry.py
  photutils/aperture/tests/test_rectangle.py
  photutils/aperture/tests/test_stats.py
  photutils/background/tests/test_background_2d.py
  photutils/background/tests/test_core.py
  photutils/background/tests/test_local_background.py
  photutils/centroids/core.py
  photutils/centroids/tests/test_core.py
  photutils/centroids/tests/test_gaussian.py
  photutils/datasets/tests/test_load.py
  photutils/datasets/tests/test_noise.py
  photutils/datasets/tests/test_sources.py
  photutils/detection/tests/test_daofinder.py
  photutils/detection/tests/test_irafstarfinder.py
  photutils/detection/tests/test_peakfinder.py
  photutils/detection/tests/test_starfinder.py
  photutils/morphology/tests/test_core.py
  photutils/profiles/tests/test_curve_of_growth.py
  photutils/profiles/tests/test_radial_profile.py
  photutils/psf/epsf_stars.py
  photutils/psf/matching/tests/test_fourier.py
  photutils/psf/matching/tests/test_windows.py
  photutils/psf/tests/test_epsf.py
  photutils/psf/tests/test_epsf_stars.py
  photutils/psf/tests/test_griddedpsfmodel.py
  photutils/psf/tests/test_models.py
  photutils/psf/tests/test_photometry.py
  photutils/segmentation/catalog.py
  photutils/segmentation/core.py
  photutils/segmentation/tests/test_catalog.py
  photutils/segmentation/tests/test_core.py
  photutils/segmentation/tests/test_deblend.py
  photutils/segmentation/tests/test_detect.py
  photutils/segmentation/tests/test_finder.py
  photutils/utils/tests/test_cutouts.py
  photutils/utils/tests/test_depths.py
  photutils/utils/tests/test_errors.py
  photutils/utils/tests/test_footprints.py
  photutils/utils/tests/test_interpolation.py
  photutils/utils/tests/test_moments.py
  photutils/utils/tests/test_parameters.py
  photutils/utils/tests/test_quantity_helpers.py
  pyproject.toml
Labels: testing, no-changelog-entry-needed

#1833 Add pydocstyle convention to config
  pyproject.toml
Labels: docs, testing, no-changelog-entry-needed

#1834 Add publishing of developer wheels to anaconda.org
  .github/workflows/publish.yml
Labels: infrastructure, no-changelog-entry-needed

#1835 DOC: Mention nightly wheel in dev install
  docs/install.rst
Labels: docs, no-changelog-entry-needed, installation

#1836 Update install docs
  docs/install.rst
Labels: docs, no-changelog-entry-needed, installation

#1837 Precommit update
  .pre-commit-config.yaml
  photutils/aperture/tests/test_converters.py
  photutils/aperture/tests/test_photometry.py
  photutils/datasets/tests/test_load.py
  photutils/isophote/tests/test_ellipse.py
  photutils/isophote/tests/test_fitter.py
  photutils/isophote/tests/test_integrator.py
  photutils/isophote/tests/test_isophote.py
  photutils/isophote/tests/test_model.py
  photutils/isophote/tests/test_regression.py
  photutils/psf/tests/test_utils.py
Labels: testing, no-changelog-entry-needed

#1839 Require astropy 5.3+
  CHANGES.rst
  docs/install.rst
  pyproject.toml
  tox.ini
Labels: infrastructure, installation

#1838 Add functional PSF models
  CHANGES.rst
  photutils/psf/__init__.py
  photutils/psf/epsf.py
  photutils/psf/functional_models.py
  photutils/psf/gridded_models.py
  photutils/psf/image_models.py
  photutils/psf/tests/test_epsf.py
  photutils/psf/tests/test_epsf_stars.py
  photutils/psf/tests/test_functional_models.py
  photutils/psf/tests/test_gridded_models.py
  photutils/psf/tests/test_image_models.py
  photutils/psf/utils.py
  pyproject.toml
Labels: psf

#1840 Add section describing PSF models in PSF photometry docs
  docs/epsf.rst
  docs/grouping.rst
  docs/psf.rst
Labels: docs, psf, no-changelog-entry-needed

#1841 Fix Moffat FWHM equation in docs
  photutils/psf/functional_models.py
Labels: docs, psf, no-changelog-entry-needed

#1842 Fix MoffatPSF bounding box example
  photutils/psf/functional_models.py
Labels: docs, psf, affects-dev, no-changelog-entry-needed

#1843 Add AiryDiskPSF model
  CHANGES.rst
  docs/psf.rst
  photutils/psf/functional_models.py
  photutils/psf/tests/test_functional_models.py
Labels: psf, enhancement

#1844 Skip test if skimage is not installed
  photutils/segmentation/tests/test_finder.py
Labels: testing, segmentation, no-changelog-entry-needed

#1845 Rename IntegratedGaussianPRF to CircularGaussianSigmaPRF
  CHANGES.rst
  docs/psf.rst
  photutils/datasets/images.py
  photutils/datasets/tests/test_images.py
  photutils/detection/tests/conftest.py
  photutils/psf/functional_models.py
  photutils/psf/tests/test_epsf.py
  photutils/psf/tests/test_epsf_stars.py
  photutils/psf/tests/test_functional_models.py
  photutils/psf/tests/test_photometry.py
  photutils/psf/tests/test_utils.py
  photutils/psf/utils.py
Labels: testing, psf, detection, datasets, no-changelog-entry-needed

#1846 Increase the size of the PSF model bounding boxes
  photutils/psf/functional_models.py
  photutils/psf/tests/test_functional_models.py
Labels: psf, affects-dev, no-changelog-entry-needed

#1847 Fix typo
  photutils/centroids/core.py
Labels: docs, no-changelog-entry-needed, centroids

#1848 Improve centroid docs
  docs/centroids.rst
  photutils/centroids/core.py
  photutils/centroids/gaussian.py
Labels: docs, no-changelog-entry-needed, centroids

#1849 Include Aperture information in table metadata
  CHANGES.rst
  photutils/aperture/core.py
  photutils/aperture/photometry.py
  photutils/aperture/stats.py
  photutils/aperture/tests/test_photometry.py
  photutils/aperture/tests/test_stats.py
Labels: feature request, aperture, enhancement

#1850 Improve source grouping docs
  docs/grouping.rst
Labels: docs, psf, no-changelog-entry-needed

#1851 Add links to HST PSF libraries
  docs/psf.rst
Labels: docs, psf, no-changelog-entry-needed

#1852 Allow regions.Region input to ApertureStats
  CHANGES.rst
  docs/aperture.rst
  photutils/aperture/converters.py
  photutils/aperture/photometry.py
  photutils/aperture/stats.py
  photutils/aperture/tests/test_converters.py
  photutils/aperture/tests/test_photometry.py
  photutils/aperture/tests/test_stats.py
  photutils/conftest.py
Labels: docs, aperture, enhancement

#1853 Fix typo in warning
  photutils/aperture/stats.py
  photutils/aperture/tests/test_stats.py
Labels: docs, testing, aperture, no-changelog-entry-needed

#1854 Reorganize some PSF tools
  CHANGES.rst
  photutils/psf/__init__.py
  photutils/psf/image_models.py
  photutils/psf/model_helpers.py
  photutils/psf/simulation.py
  photutils/psf/tests/test_functional_models.py
  photutils/psf/tests/test_gridded_models.py
  photutils/psf/tests/test_image_models.py
  photutils/psf/tests/test_model_helpers.py
  photutils/psf/tests/test_simulation.py
  photutils/psf/tests/test_utils.py
  photutils/psf/utils.py
Labels: API, psf, enhancement

#1856 Add notes about excessive memory usage for large star groups
  docs/psf.rst
  photutils/psf/photometry.py
Labels: docs, psf, no-changelog-entry-needed

#1857 Allow array-like shape in CutoutImage
  photutils/utils/cutouts.py
  photutils/utils/tests/test_cutouts.py
Labels: utils, no-changelog-entry-needed

#1860 Add sections to the profiles narrative docs
  docs/profiles.rst
Labels: docs, enhancement, profiles

#1861 Allow Quantity inputs to centroid_1dg and centroid_2dg
  CHANGES.rst
  docs/centroids.rst
  photutils/centroids/core.py
  photutils/centroids/gaussian.py
  photutils/centroids/tests/test_core.py
  photutils/centroids/tests/test_gaussian.py
Labels: API, enhancement, centroids

#1862 Do not use itertools with pytest.mark.parametrize
  photutils/background/tests/test_background_2d.py
  photutils/geometry/tests/test_circular_overlap_grid.py
  photutils/geometry/tests/test_elliptical_overlap_grid.py
  photutils/geometry/tests/test_rectangular_overlap_grid.py
  photutils/psf/tests/test_gridded_models.py
  photutils/utils/tests/test_depths.py
Labels: testing, psf, utils, background, no-changelog-entry-needed, geometry
