Repository astropy/photutils, pull requests merged in 2024-04, with the labels that each got.

#1716 Update URLs
  docs/contributing.rst
  photutils/CITATION.rst
Labels: docs, no-changelog-entry-needed

#1717 BLD: build with numpy 2.0.0rc1 (or newer)
  pyproject.toml
Labels: no-changelog-entry-needed, installation

#1718 Add __array__copy argument for NumPy 2.0+
  photutils/aperture/mask.py
  photutils/aperture/tests/test_mask.py
Labels: aperture, no-changelog-entry-needed

#1719 Update min versions of dependencies
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_tests.yml
  .github/workflows/publish.yml
  CHANGES.rst
  docs/install.rst
  pyproject.toml
  tox.ini
Labels: installation, Daily CI, Weekly CI

#1720 Skip test if scipy is not installed
  .github/workflows/ci_tests.yml
  photutils/psf/tests/test_utils.py
Labels: testing, psf, no-changelog-entry-needed

#1721 Remove problematic test on arm arch
  photutils/isophote/tests/test_ellipse.py
Labels: testing, no-changelog-entry-needed, isophote

#1725 Remove photutils.test()
  CHANGES.rst
  docs/index.rst
  docs/install.rst
  docs/test_function.rst
  docs/whats_new/1.13.rst
  docs/whats_new/index.rst
  photutils/__init__.py
  photutils/_astropy_init.py
Labels: testing

#1726 Update bibtex example in citation file
  photutils/CITATION.rst
Labels: docs, no-changelog-entry-needed
