Repository astropy/photutils, pull requests merged in 2024-09, with the labels that each got.

#1864 Add notes and alternatives in PRFAdapter docstring
  docs/psf.rst
  photutils/psf/model_helpers.py
Labels: docs, psf, no-changelog-entry-needed

#1865 Deprecate PRFAdapter
  CHANGES.rst
  docs/psf.rst
  photutils/psf/model_helpers.py
  photutils/psf/tests/test_model_helpers.py
Labels: API, psf

#1866 Remove yesqa and pyupgrade pre-commit hooks
  .pre-commit-config.yaml
Labels: infrastructure, no-changelog-entry-needed

#1868 Update bottleneck stat functions
  photutils/background/background_2d.py
  photutils/background/core.py
  photutils/segmentation/detect.py
  photutils/utils/_stats.py
  photutils/utils/tests/test_stats.py
Labels: utils, no-changelog-entry-needed

#1869 Add astropy biweight stat fixes to extern
  .pep8speaks.yml
  .pre-commit-config.yaml
  photutils/extern/biweight.py
  pyproject.toml
Labels: no-changelog-entry-needed, extern

#1870 Refactor Background2D to reduce memory usage
  CHANGES.rst
  docs/background.rst
  photutils/background/background_2d.py
  photutils/background/core.py
  photutils/background/interpolators.py
  photutils/background/tests/test_background_2d.py
  photutils/background/tests/test_interpolators.py
  photutils/extern/biweight.py
  photutils/segmentation/detect.py
  photutils/utils/_stats.py
  photutils/utils/tests/test_stats.py
Labels: API, background, performance

#1871 Add npixels_map property to Background2D
  CHANGES.rst
  photutils/background/background_2d.py
  photutils/background/tests/test_background_2d.py
Labels: enhancement, background

#1872 More memory optimization for Background2D
  CHANGES.rst
  photutils/background/background_2d.py
  photutils/background/tests/test_background_2d.py
Labels: enhancement, background, performance

#1874 Fix broken links
  docs/install.rst
  docs/psf.rst
  photutils/detection/daofinder.py
  photutils/detection/irafstarfinder.py
Labels: docs, no-changelog-entry-needed, Daily CI

#1875 Fix weekly CI
  photutils/psf/epsf_stars.py
  photutils/psf/tests/test_epsf.py
Labels: testing, psf, no-changelog-entry-needed, Weekly CI, Arch CI

#1876 Use bottleneck nan functions if available
  photutils/background/background_2d.py
  photutils/background/tests/test_core.py
  photutils/detection/peakfinder.py
  photutils/profiles/core.py
  photutils/psf/epsf.py
  photutils/segmentation/deblend.py
Labels: psf, detection, segmentation, background, no-changelog-entry-needed, performance, profiles

#1877 Update citation file for 1.13.0
  photutils/CITATION.rst
Labels: docs

#1878 Preserve SegmentationImage dtype
  CHANGES.rst
  photutils/segmentation/core.py
  photutils/segmentation/detect.py
  photutils/segmentation/tests/test_core.py
  photutils/segmentation/tests/test_deblend.py
  photutils/segmentation/tests/test_detect.py
Labels: API, segmentation

#1881 Update minimum dependencies
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_tests.yml
  CHANGES.rst
  docs/install.rst
  pyproject.toml
  tox.ini
Labels: dependencies, Daily CI

#1882 Fix DAOStarFinder if threshold=0
  CHANGES.rst
  photutils/detection/daofinder.py
  photutils/detection/tests/test_daofinder.py
Labels: bug, detection

#1884 Remove deprecations
  CHANGES.rst
  docs/detection.rst
  docs/getting_started.rst
  docs/psf.rst
  photutils/background/background_2d.py
  photutils/background/interpolators.py
  photutils/datasets/images.py
  photutils/datasets/make.py
  photutils/datasets/sources.py
  photutils/datasets/tests/test_images.py
  photutils/datasets/tests/test_sources.py
  photutils/datasets/wcs.py
  photutils/detection/daofinder.py
  photutils/detection/irafstarfinder.py
  photutils/detection/tests/test_irafstarfinder.py
  photutils/psf/functional_models.py
  photutils/psf/model_helpers.py
  photutils/psf/photometry.py
Labels: API, detection, datasets

#1885 Change DAOStarFinder flux and mag outputs
  CHANGES.rst
  docs/detection.rst
  docs/getting_started.rst
  docs/psf.rst
  photutils/detection/core.py
  photutils/detection/daofinder.py
  photutils/detection/irafstarfinder.py
  photutils/detection/tests/test_daofinder.py
Labels: API, detection

#1886 Add whats new for v2.0
  docs/whats_new/2.0.rst
  docs/whats_new/index.rst
Labels: docs

#1887 Add fwhm keyword to fit_2dgaussian and fit_fwhm
  CHANGES.rst
  photutils/psf/tests/test_utils.py
  photutils/psf/utils.py
Labels: psf, affects-dev

#1889 [DOC] Fix typo in ApertureStats sum_err description
  photutils/aperture/stats.py
Labels: docs, aperture, no-changelog-entry-needed

#1890 Add ImagePSF model class
  CHANGES.rst
  docs/psf.rst
  photutils/psf/epsf.py
  photutils/psf/epsf_stars.py
  photutils/psf/gridded_models.py
  photutils/psf/image_models.py
  photutils/psf/model_helpers.py
  photutils/psf/tests/test_epsf.py
  photutils/psf/tests/test_epsf_stars.py
  photutils/psf/tests/test_image_models.py
  photutils/psf/utils.py
Labels: API, psf, enhancement

#1891 Add bounding box to GriddedPSFModel
  CHANGES.rst
  docs/whats_new/2.0.rst
  photutils/psf/gridded_models.py
  photutils/psf/image_models.py
  photutils/psf/tests/data/STDPSF_ACSWFC_F814W_mock.fits
  photutils/psf/tests/data/STDPSF_NRCA1_F150W_mock.fits
  photutils/psf/tests/data/STDPSF_NRCSW_F150W_mock.fits
  photutils/psf/tests/data/STDPSF_WFC3UV_F814W_mock.fits
  photutils/psf/tests/data/STDPSF_WFPC2_F814W_mock.fits
  photutils/psf/tests/data/nircam_nrca1_f200w_fovp101_samp4_npsf16_mock.fits
  photutils/psf/tests/data/nircam_nrca1_f200w_fovp101_samp4_npsf4_mock.fits
  photutils/psf/tests/data/nircam_nrca5_f444w_fovp101_samp4_npsf4_mock.fits
  photutils/psf/tests/data/nircam_nrcb4_f150w_fovp101_samp4_npsf1_mock.fits
  photutils/psf/tests/test_gridded_models.py
  photutils/psf/tests/test_image_models.py
Labels: psf, enhancement

#1892 Add note in Background2D about data byte order
  photutils/background/background_2d.py
Labels: docs, background, no-changelog-entry-needed

#1893 Add native arm64 test runner
  .github/workflows/ci_cron_weekly.yml
  pyproject.toml
Labels: testing, no-changelog-entry-needed, Arch CI

#1894 Fix unit bug in make_psf_model
  CHANGES.rst
  photutils/psf/model_helpers.py
  photutils/psf/tests/test_model_helpers.py
Labels: bug, psf

#1896 Add params_table_to_models function
  CHANGES.rst
  photutils/datasets/images.py
  photutils/datasets/tests/test_images.py
Labels: enhancement, datasets

#1897 Add unit test for get_path
  photutils/datasets/tests/test_load.py
Labels: testing, datasets, no-changelog-entry-needed

#1899 Remove LevMarLSQFitter
  CHANGES.rst
  docs/psf.rst
  docs/whats_new/2.0.rst
  photutils/centroids/gaussian.py
  photutils/profiles/radial_profile.py
  photutils/psf/epsf.py
  photutils/psf/matching/tests/test_fourier.py
  photutils/psf/photometry.py
  photutils/psf/tests/test_epsf.py
  photutils/psf/tests/test_functional_models.py
  photutils/psf/tests/test_model_helpers.py
  photutils/psf/tests/test_photometry.py
  photutils/psf/tests/test_utils.py
  photutils/psf/utils.py
Labels: docs, API, psf, centroids, profiles

#1900 MNT: Use hash for Action workflow versions and update if needed
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_tests.yml
  .github/workflows/codeql.yml
  .github/workflows/publish.yml
Labels: testing

#1901 Move GriddedPSFModel I/O and plotting to separate modules
  CHANGES.rst
  photutils/psf/__init__.py
  photutils/psf/gridded_models.py
  photutils/psf/model_io.py
  photutils/psf/model_plotting.py
  pyproject.toml
Labels: API, psf
