Repository astropy/photutils, pull requests merged in 2024-12, with the labels that each got.

#1972 DOC: Fix reference for segmentation module
  docs/reference/segmentation_api.rst
Labels: docs, segmentation, no-changelog-entry-needed

#1979 Add optional mask keyword to gini function
  CHANGES.rst
  photutils/morphology/non_parametric.py
  photutils/morphology/tests/test_non_parametric.py
  photutils/segmentation/catalog.py
Labels: feature request, API Change, morphology

#1981 Update citation for v2.0.2
  photutils/CITATION.rst
Labels: no-changelog-entry-needed
