Repository astropy/photutils, pull requests merged in 2024-06, with the labels that each got.

#1765 Add additional allowed columns in PSF photometry init_params
  CHANGES.rst
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: bug, psf, enhancement

#1766 Add make_model_params function
  CHANGES.rst
  photutils/datasets/examples.py
  photutils/datasets/images.py
  photutils/datasets/sources.py
  photutils/datasets/tests/test_sources.py
  photutils/psf/photometry.py
  photutils/psf/utils.py
  photutils/utils/_coords.py
Labels: enhancement, datasets, affects-dev

#1767 Emit only unique warnings in IterativePSFPhotometry
  CHANGES.rst
  photutils/psf/photometry.py
Labels: API, psf, enhancement

#1768 Fix for overlap bug
  photutils/centroids/core.py
  photutils/datasets/images.py
  photutils/detection/starfinder.py
  photutils/psf/epsf.py
  photutils/psf/epsf_stars.py
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
  photutils/utils/cutouts.py
Labels: utils, no-changelog-entry-needed

#1770 Add a check for invalid source positions in PSF photometry init_params
  CHANGES.rst
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: API, psf, enhancement

#1771 Some refactoring of IterativePSFPhotometry
  CHANGES.rst
  photutils/psf/photometry.py
Labels: API, psf, refactoring

#1772 Move group_size column in PSF photometry output
  CHANGES.rst
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: API, psf

#1773 Fit results keys
  CHANGES.rst
  docs/psf.rst
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: API, psf

#1774 Remove deprecations from the psf subpackage
  CHANGES.rst
  docs/epsf.rst
  docs/install.rst
  docs/whats_new/1.10.rst
  docs/whats_new/1.5.rst
  docs/whats_new/1.9.rst
  photutils/__init__.py
  photutils/datasets/images.py
  photutils/psf/__init__.py
  photutils/psf/groupstars.py
  photutils/psf/models.py
  photutils/psf/photometry.py
  photutils/psf/photometry_depr.py
  photutils/psf/tests/test_groupstars.py
  photutils/psf/tests/test_photometry-depr.py
  photutils/psf/tests/test_photometry.py
  photutils/psf/tests/test_utils.py
  photutils/psf/utils.py
  pyproject.toml
Labels: API, psf

#1777 Ensure error and data arrays have the same shape
  CHANGES.rst
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: API, psf

#1778 Fix IterativePSFPhotometry no overlap error
  CHANGES.rst
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: bug, psf

#1781 swap xy in validity check
  photutils/psf/photometry.py
Labels: bug, psf, affects-dev

#1782 DOC: Fix imports in plots in documentation
  docs/grouping.rst
  docs/profiles.rst
Labels: docs, no-changelog-entry-needed

#1783 Make flux_range a keyword in make_model_params
  photutils/datasets/sources.py
  photutils/datasets/tests/test_sources.py
  photutils/datasets/wcs.py
Labels: docs, API, datasets, affects-dev, no-changelog-entry-needed

#1784 Update Doctest requires
  photutils/background/background_2d.py
  photutils/background/interpolators.py
  photutils/datasets/wcs.py
  photutils/profiles/radial_profile.py
  photutils/segmentation/catalog.py
  photutils/utils/depths.py
  photutils/utils/interpolation.py
Labels: docs, testing, no-changelog-entry-needed

#1785 Add function to make a simulated image from PSF models
  CHANGES.rst
  docs/grouping.rst
  docs/psf.rst
  photutils/datasets/images.py
  photutils/datasets/tests/test_images.py
  photutils/datasets/wcs.py
  photutils/detection/tests/conftest.py
  photutils/detection/tests/test_daofinder.py
  photutils/detection/tests/test_irafstarfinder.py
  photutils/detection/tests/test_peakfinder.py
  photutils/detection/tests/test_starfinder.py
  photutils/psf/tests/test_photometry.py
  photutils/psf/tests/test_utils.py
  photutils/psf/utils.py
Labels: API, psf, enhancement, datasets

#1786 Use PSF utils for PSF model validation
  photutils/psf/photometry.py
Labels: psf, affects-dev, no-changelog-entry-needed

#1788 Fix issue with covariance matrix in ApertureStats and SourceCatalog
  CHANGES.rst
  photutils/aperture/stats.py
  photutils/aperture/tests/test_stats.py
  photutils/segmentation/catalog.py
  photutils/segmentation/tests/test_catalog.py
Labels: bug, aperture, segmentation

#1790 Fix unit support in make_model_image
  CHANGES.rst
  photutils/datasets/images.py
  photutils/datasets/tests/test_images.py
Labels: bug, datasets, affects-dev

#1791 Fix repeated words in docs
  photutils/aperture/circle.py
  photutils/aperture/core.py
  photutils/aperture/ellipse.py
  photutils/aperture/photometry.py
  photutils/aperture/rectangle.py
  photutils/aperture/stats.py
  photutils/datasets/images.py
  photutils/detection/peakfinder.py
  photutils/isophote/sample.py
  photutils/profiles/core.py
  photutils/profiles/curve_of_growth.py
  photutils/profiles/radial_profile.py
  photutils/psf/epsf.py
  photutils/psf/epsf_stars.py
  photutils/psf/groupers.py
  photutils/psf/models.py
  photutils/psf/photometry.py
  photutils/psf/tests/test_epsf_stars.py
  photutils/segmentation/finder.py
  photutils/utils/interpolation.py
Labels: docs, no-changelog-entry-needed

#1792 Fix unit handling in PSF photometry
  CHANGES.rst
  photutils/datasets/images.py
  photutils/datasets/tests/test_images.py
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: bug, psf

#1793 Allow additional model parameters in PSF photometry init_params
  CHANGES.rst
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: bug, psf, enhancement

#1794 Add what's new for 1.13.0
  CHANGES.rst
  docs/whats_new/1.13.rst
Labels: docs, no-changelog-entry-needed

#1795 Add examples for make_psf_model and make_psf_model_image
  photutils/psf/utils.py
Labels: docs, psf, no-changelog-entry-needed

#1796 Allow for additional parameters in make_model_params and make_psf_model_image
  CHANGES.rst
  docs/grouping.rst
  docs/psf.rst
  photutils/datasets/sources.py
  photutils/datasets/tests/test_sources.py
  photutils/detection/tests/conftest.py
  photutils/psf/tests/test_photometry.py
  photutils/psf/tests/test_utils.py
  photutils/psf/utils.py
Labels: API, psf, datasets, affects-dev

#1797 Add x_name/y_name keywords to make_model_params
  photutils/datasets/images.py
  photutils/datasets/sources.py
  photutils/datasets/tests/test_sources.py
  photutils/psf/tests/test_photometry.py
  photutils/psf/utils.py
Labels: API, psf, datasets, affects-dev, no-changelog-entry-needed

#1798 Fix order of error columns in PSF photometry
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: bug, psf, affects-dev, no-changelog-entry-needed
