Repository astropy/photutils, pull requests merged in 2024-07, with the labels that each got.

#1805 Add xy_bounds keyword for PSF photometry
  CHANGES.rst
  docs/psf.rst
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: feature request, psf, enhancement

#1806 Add norm keyword to plots in PSF docs
  docs/psf.rst
Labels: docs, psf, no-changelog-entry-needed

#1807 Remove stray references to sklearn
  CHANGES.rst
  docs/psf.rst
  photutils/conftest.py
  photutils/utils/_misc.py
  photutils/utils/_optional_deps.py
  photutils/utils/tests/test_misc.py
Labels: docs, testing, API

#1809 Raise ValueError if isolist is empty
  CHANGES.rst
  photutils/isophote/model.py
  photutils/isophote/tests/test_model.py
Labels: API, isophote

#1810 Do not average upper harmonics in build_ellipse_model
  CHANGES.rst
  photutils/isophote/model.py
  photutils/isophote/tests/test_model.py
Labels: bug, isophote

#1815 Add mock wcs to aperture docs
  docs/aperture.rst
Labels: docs, aperture, no-changelog-entry-needed

#1816 Fix check of subpixels value
  CHANGES.rst
  photutils/aperture/core.py
  photutils/aperture/tests/test_photometry.py
Labels: bug, aperture

#1817 Remove outdated PSF spec docs
  docs/conf.py
  docs/psf_spec/background_estimator.rst
  docs/psf_spec/block_diagram.png
  docs/psf_spec/block_template.rst
  docs/psf_spec/culler_and_ender.rst
  docs/psf_spec/finder.rst
  docs/psf_spec/fitter.rst
  docs/psf_spec/group_maker.rst
  docs/psf_spec/index.rst
  docs/psf_spec/noise_data.rst
  docs/psf_spec/psf_model.rst
  docs/psf_spec/scene_maker.rst
  docs/psf_spec/single_object_model.rst
Labels: docs, no-changelog-entry-needed

#1818 Add plot config section to Sphinx configuration
  docs/conf.py
  photutils/datasets/images.py
  photutils/segmentation/core.py
Labels: docs, no-changelog-entry-needed

#1813 Allow regions to be passed to aperture_photometry
  docs/aperture.rst
  docs/conf.py
  photutils/aperture/__init__.py
  photutils/aperture/converters.py
  photutils/aperture/photometry.py
  photutils/aperture/tests/test_converters.py
  photutils/aperture/tests/test_photometry.py
  photutils/utils/_optional_deps.py
  pyproject.toml
Labels: feature request, aperture

#1819 DOC: Add new RTD settings in docs config
  docs/conf.py
Labels: docs, no-changelog-entry-needed

#1820 Misc infrastructure updates
  CHANGES.rst
  docs/conf.py
  docs/install.rst
  photutils/utils/_optional_deps.py
  pyproject.toml
Labels: docs, infrastructure

#1821 Allow NDData uncertainties in extract_stars
  CHANGES.rst
  photutils/psf/epsf_stars.py
  photutils/psf/tests/test_epsf.py
Labels: feature request, psf

#1822 Refactor nan-ignoring stat functions
  photutils/utils/_stats.py
Labels: docs, utils, no-changelog-entry-needed, refactoring

#1823 Remove unneeded x0 property from CentralPixel
  photutils/isophote/isophote.py
  photutils/isophote/tests/test_isophote.py
Labels: no-changelog-entry-needed, isophote

#1824 Require keyword arguments in ellipse fitter
  photutils/isophote/ellipse.py
  photutils/isophote/fitter.py
Labels: no-changelog-entry-needed, isophote

#1825 Add numpydoc validation to pre-commit
  .pre-commit-config.yaml
  docs/conf.py
  photutils/aperture/bounding_box.py
  photutils/aperture/circle.py
  photutils/aperture/core.py
  photutils/aperture/ellipse.py
  photutils/aperture/rectangle.py
  photutils/aperture/stats.py
  photutils/background/background_2d.py
  photutils/background/core.py
  photutils/centroids/core.py
  photutils/conftest.py
  photutils/detection/core.py
  photutils/detection/daofinder.py
  photutils/detection/irafstarfinder.py
  photutils/detection/starfinder.py
  photutils/isophote/isophote.py
  photutils/isophote/sample.py
  photutils/isophote/tests/make_test_data.py
  photutils/morphology/non_parametric.py
  photutils/profiles/core.py
  photutils/profiles/curve_of_growth.py
  photutils/profiles/radial_profile.py
  photutils/psf/epsf.py
  photutils/psf/epsf_stars.py
  photutils/psf/griddedpsfmodel.py
  photutils/psf/models.py
  photutils/psf/photometry.py
  photutils/psf/utils.py
  photutils/segmentation/catalog.py
  photutils/segmentation/core.py
  photutils/segmentation/finder.py
  photutils/utils/_coords.py
  photutils/utils/_misc.py
  photutils/utils/_quantity_helpers.py
  photutils/utils/_repr.py
  photutils/utils/_round.py
  photutils/utils/_stats.py
  photutils/utils/cutouts.py
  photutils/utils/depths.py
  photutils/utils/interpolation.py
  photutils/utils/tests/test_interpolation.py
  pyproject.toml
Labels: docs, aperture, psf, detection, utils, segmentation, background, morphology, centroids, isophote, profiles
