Repository astropy/photutils, pull requests merged in 2024-02, with the labels that each got.

#1700 Fix error message in test depending on numpy version
  photutils/detection/tests/test_irafstarfinder.py
Labels: testing

#1701 Handle renamed keywords in astropy visualization
  photutils/psf/griddedpsfmodel.py
Labels: psf, no-changelog-entry-needed

#1699 Test with M1 macOS runner
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_tests.yml
Labels: testing, no-changelog-entry-needed, Build all wheels

#1691 Add option to exclude local background in residual image (#1690)
  photutils/psf/photometry.py
Labels: feature request, psf

#1702 Update parameter docs for Background2D.plot_meshes
  photutils/background/background_2d.py
Labels: docs, background, no-changelog-entry-needed

#1703 Change default to not include local background in PSF model/residual images
  CHANGES.rst
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: API, psf

#1704 Add __repr__ and __str__ strings for several classes
  photutils/background/background_2d.py
  photutils/background/core.py
  photutils/background/interpolators.py
  photutils/background/local_background.py
  photutils/background/tests/test_background_2d.py
  photutils/background/tests/test_core.py
  photutils/background/tests/test_interpolators.py
  photutils/background/tests/test_local_background.py
  photutils/segmentation/finder.py
  photutils/segmentation/tests/test_finder.py
  photutils/utils/_repr.py
  photutils/utils/depths.py
  photutils/utils/tests/test_depths.py
Labels: utils, segmentation, background, no-changelog-entry-needed

#1705 Return finder_results as a QTable
  CHANGES.rst
  docs/psf.rst
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: API, psf

#1707 Do not use ellipsis in make_repr if parameter value is None
  photutils/background/background_2d.py
  photutils/utils/_repr.py
Labels: utils, affects-dev, background, no-changelog-entry-needed

#1708 Add mode keyword to IterativePSFPhotometry
  CHANGES.rst
  photutils/psf/photometry.py
  photutils/psf/tests/test_photometry.py
Labels: psf, enhancement

#1709 Add what's new for 1.11.0
  docs/whats_new/1.11.rst
  docs/whats_new/index.rst
Labels: docs

#1710 Deprecate NonNormalizable
  CHANGES.rst
  photutils/psf/models.py
Labels: API, psf
