Repository astropy/photutils, pull requests merged in 2025-01, with the labels that each got.

#1983 Add whats new for v2.1.0
  docs/whats_new/2.1.rst
  docs/whats_new/index.rst
Labels: docs, no-changelog-entry-needed

#1982 Documentation updates
  docs/reference/datasets_api.rst
  docs/reference/detection_api.rst
  docs/reference/geometry_api.rst
  docs/reference/isophote_api.rst
  docs/reference/morphology_api.rst
  docs/reference/utils_api.rst
  docs/user_guide/centroids.rst
  docs/user_guide/datasets.rst
  docs/user_guide/detection.rst
  docs/user_guide/geometry.rst
  docs/user_guide/grouping.rst
  docs/user_guide/index.rst
  docs/user_guide/morphology.rst
  docs/user_guide/profiles.rst
  docs/user_guide/utils.rst
  photutils/datasets/__init__.py
  photutils/detection/__init__.py
  photutils/geometry/__init__.py
  photutils/utils/__init__.py
  photutils/utils/errors.py
Labels: docs, detection, utils, datasets, no-changelog-entry-needed, morphology, centroids, geometry

#1984 Use assert_allclose instead of assert_equal in background tests
  photutils/background/tests/test_background_2d.py
Labels: testing, background, no-changelog-entry-needed

#1985 Update package description in readme
  README.rst
Labels: docs, no-changelog-entry-needed

#1986 Ensure labels dtype matches the segmentation data
  CHANGES.rst
  photutils/segmentation/core.py
  photutils/segmentation/detect.py
  photutils/segmentation/tests/test_detect.py
Labels: bug, segmentation

#1978 Include interval ends for sharpless, roundness, and peakmax
  CHANGES.rst
  photutils/detection/daofinder.py
  photutils/detection/irafstarfinder.py
  photutils/detection/tests/test_daofinder.py
  photutils/detection/tests/test_irafstarfinder.py
Labels: API Change, detection

#1987 Cleanup dao- and iraf-starfinder tests. Remove unnecessary abs()
  photutils/detection/tests/test_daofinder.py
  photutils/detection/tests/test_irafstarfinder.py
Labels: testing, detection, no-changelog-entry-needed, Build all wheels

#1988 Add map of deblended labels
  CHANGES.rst
  photutils/segmentation/core.py
  photutils/segmentation/deblend.py
  photutils/segmentation/detect.py
  photutils/segmentation/tests/test_core.py
  photutils/segmentation/tests/test_deblend.py
Labels: feature request, bug, segmentation

#1989 Fix failing isophote test for scipy 1.15
  photutils/isophote/tests/test_model.py
  pyproject.toml
Labels: testing, no-changelog-entry-needed, isophote

#1990 Starfinder peakmax
  CHANGES.rst
  photutils/detection/daofinder.py
  photutils/detection/irafstarfinder.py
  photutils/detection/starfinder.py
  photutils/detection/tests/test_starfinder.py
Labels: API Change, detection

#1991 Update what's new for 2.1.0
  docs/whats_new/2.1.rst
Labels: docs, no-changelog-entry-needed

#1994 Add params_map keyword to make_model_image
  CHANGES.rst
  docs/whats_new/2.1.rst
  photutils/datasets/images.py
  photutils/datasets/tests/test_images.py
Labels: feature request, datasets

#1995 Fix grouping figure
  docs/user_guide/grouping.rst
Labels: docs, psf, no-changelog-entry-needed

#1997 Use the free ARM64 test runner
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_tests.yml
Labels: testing, Weekly CI, Arch CI
