Repository astropy/photutils, pull requests merged in 2025-05, with the labels that each got.

#2039 Fix not appending to extra_properties when overwrite=True in SourceCatalog
  CHANGES.rst
  photutils/segmentation/catalog.py
  photutils/segmentation/tests/test_catalog.py
Labels: bug, segmentation

#2042 Fix typo
  photutils/isophote/geometry.py
Labels: docs, no-changelog-entry-needed, isophote

#2043 Bump minimum versions of dependencies
  CHANGES.rst
  docs/getting_started/install.rst
  pyproject.toml
  tox.ini
Labels: installation

#2045 Fix centroid_com corner-case bug
  CHANGES.rst
  photutils/centroids/core.py
  photutils/centroids/gaussian.py
  photutils/centroids/tests/test_core.py
  photutils/centroids/tests/test_gaussian.py
Labels: bug, centroids

#2047 Improve Background2D error message if all pixels are masked
  photutils/background/background_2d.py
  photutils/background/tests/test_background_2d.py
Labels: background, no-changelog-entry-needed
